import {BrowserModule} from "@angular/platform-browser";
import {NgModule} from "@angular/core";
import {FormsModule} from "@angular/forms";
import {HttpModule} from "@angular/http";
import {AppComponent} from "./app.component";
import {AribaCoreModule} from "@aribaui/core";
import {AribaComponentsModule} from "@aribaui/components";

@NgModule({
  declarations: [
    AppComponent
  ],
  imports: [
    BrowserModule,
    FormsModule,
    HttpModule,
    AribaCoreModule.forRoot({}),
    AribaComponentsModule

  ],
  providers: [],
  bootstrap: [AppComponent]
})
export class AppModule {
}
