<div class="row center-xs">
  <div class="col-xs-8">
    <h1>Receipts</h1>
    <fd-input-group [placement]="'after'" [glyph]="'search'" [placeholder]="'Search ...'">
    </fd-input-group>
  </div>
</div>


<div class="row center-xs">
  <div class="col-xs-8">
    <table fd-table>
      <thead fd-table-header>
      <tr fd-table-row>
        <th fd-table-cell><input type="checkbox" [checked]="allSelected" (change)="selectMaster()"/>
        </th>
        <th fd-table-cell>#</th>
        <th fd-table-cell>Date</th>
        <th fd-table-cell>Title</th>
        <th fd-table-cell>Amount</th>
      </tr>
      </thead>
      <tbody fd-table-body>
      <tr *ngFor="let row of tableRows; let i = index" fd-table-row>
        <td fd-table-cell>
          <input type="checkbox" [checked]="row.checked" (change)="select($event, i)"/>
        </td>
        <td fd-table-cell>{{row.column1}}</td>
        <td fd-table-cell>{{row.column2}}</td>
        <td fd-table-cell>{{row.column3}}</td>
        <td fd-table-cell>{{row.date}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>



