.w-outline-control {
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
  cursor: pointer;

  .outline-icon {
    flex: 0 0 15px;
    color: #ABABAB;
    font-size: 14px;
    font-weight: bold;
    min-width: 11px;
    align-self: center;
    transition: transform 50ms ease-in;
    transform-origin: 25% 65%;
    transform-style: preserve-3d;

    &.outline-icon-expanded {
      transform: rotate(90deg);
    }
  }

  .outline-content {
    flex: 1 1 auto;
    flex-wrap: wrap;
    padding: 0 4px 0;

    &.outline-content-selected {
      cursor: default;
      font-weight: bold;
    }
  }

}

// this is duplicate from DT extract it out
.outline-u-unselectable-text {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: auto;
}
