<div class="components-container">
    <div class="side-menu">
        <h3>Components</h3>
        <a [routerLink]="['input']">Input</a>
        <a [routerLink]="['textarea']">TextArea</a>
        <a [routerLink]="['button']">Button</a>
        <a [routerLink]="['texteditor']">TextEditor</a>
        <a [routerLink]="['datetime']">Date and Time</a>
        <a [routerLink]="['dropdown']">Dropdown</a>
        <a [routerLink]="['card']">Card</a>
        <a [routerLink]="['currency']">Currency</a>
        <a [routerLink]="['datatable']">Datatable</a>
        <a [routerLink]="['chooser']">Chooser</a>
        <a [routerLink]="['checkbox']">Checkbox</a>
        <a [routerLink]="['checkboxlist']">Checkbox List</a>
        <a [routerLink]="['radio']">RadioButton</a>
        <a [routerLink]="['pagenotification']">Page-Notification</a>
        <a [routerLink]="['radiolist']">RadioButton List</a>
        <a [routerLink]="['g-chooser']">Generic Chooser</a>
        <a [routerLink]="['pageheader']">Page-Header</a>
        <a [routerLink]="['pagefooter']">Page-Footer</a>
        <a [routerLink]="['section']">Section</a>
        <a [routerLink]="['dialog']">Dialog</a>
        <a [routerLink]="['stepper']">Stepper</a>
        <a [routerLink]="['scrollable']">Scrollable Container</a>
        <a [routerLink]="['hovercard']">Hover Card</a>
        <a [routerLink]="['list']">List</a>
    </div>

    <div class="component-detail">
        <router-outlet></router-outlet>
    </div>
</div>

