<div class="fd-shell fd-shell--fundamentals">
  <div class="fd-shell__header">
    <fd-shellbar>
      <fd-shellbar-logo>
        <a href="#" class="fd-shellbar__logo fd-shellbar__logo--image-replaced"
           aria-label="SAP"></a>
      </fd-shellbar-logo>
      <fd-shellbar-title>
        Ariba Procurement
      </fd-shellbar-title>
      <fd-shellbar-actions [user]="user"
                           [userMenu]="userMenu">
        <fd-product-switch>
          <fd-product-switch-body
            [products]="productSwitcher">
          </fd-product-switch-body>
        </fd-product-switch>
        <fd-combobox [(ngModel)]="searchTerm"
                     [glyph]="'search'"
                     [dropdownValues]="searchTerms"
                     [placeholder]="'Type some text...'"
                     [maxHeight]="'250px'">
        </fd-combobox>
      </fd-shellbar-actions>
    </fd-shellbar>
  </div>
  <div class="fd-shell__app">
    <div class="fd-app">
      <main class="fd-app__main">
        <router-outlet></router-outlet>
      </main>
    </div>
  </div>
  <div class="fd-shell__footer--fixed ">
    <img src="./assets/logo.png" width="100px"/>
    <div class="user-info">
      Frank Folar (fkolar) last visited 3/27/2019 9:45 AM | Buyer Organization
    </div>
  </div>
</div>
