<aw-object-page-wrapper
    [title]="'UI Evolution'"
    [currentState]="currState"
    [objectStates]="states"
    [objectStatusLabel]="'Current page'"
    [objectStatus]="statusName[currentIndex]">

    <aw-page-actions>

    </aw-page-actions>

    <ng-template #pageActions>
        <aw-page-actions>
            <aw-button [style]="'secondary'" (action)="prev()">Previous</aw-button>
            <aw-button [style]="'primary'" (action)="next()">Next</aw-button>
        </aw-page-actions>
    </ng-template>

    <aw-page-content>
        <router-outlet></router-outlet>
    </aw-page-content>

</aw-object-page-wrapper>
