<a class="navbar-brand" routerLink="/play/">
    <span class="brand-title">Back</span>
</a>

<div class=" ui-g">
    <div class="ui-g-12 with-border">
        <m-context [object]="myPO" operation="view" layout="Inspect" >
            <m-include-component></m-include-component>
        </m-context>
    </div>
</div>


<div class="ui-g">
    <div class="ui-g-12 ui-md-6">
        <pre>
            <code class="language-markup" pCode>
    &lt;m-context [object]="myPO" operation="view" layout="Inspect"&gt;
            &lt;m-include-component&gt;&lt;/m-include-component&gt;
    &lt;/m-context&gt;
            </code>
        </pre>
    </div>
    <div class="ui-g-12 ui-md-6">
        <pre>
            <code class="language-javascript" pCode>
/**
    Rules can work also with nested object where you can
    define how they should be rendered.

     You can easily define this on system level so it automatically
     render nested form for each object
*/
class=Order &#123;
     @field=title#derived &#123;
        type:String;
        value:$&#123;"Purchase Order: " + object.name &#125;;
        bindings:&#123;
            useNoLabelLayout:true;
        &#125;
        wrapperComponent:GenericContainerComponent;
        wrapperBindings: &#123; tagName:h2; &#125;
     &#125;
     field=uniqueName &#123;
        label:"PO #"
     &#125;
     field=description &#123;
        bindings: &#123;
            styleClass: 'u-description';
        &#125;
     &#125;
     field=requestor#asHover &#123;
        label: "Buyer";
     &#125;

    zNone => *;
    zTop => title;
    zLeft => uniqueName => requestor => totalAmount => orderDate => state;
    zRight => shippingAddress#asObject => billingAddress#asObject;
    zBottom => description;
&#125;

            </code>

        </pre>

    </div>
</div>
