# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
/.idea
.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
*.iml

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

#System Files
.DS_Store
Thumbs.db

# build scripts
generate-changelog-token.local.*

# generated playground assets
src/playground/assets/i18n/**/i18n.resource.json
src/playground/assets/i18n/**/resource.common.json
src/playground/assets/i18n/**/resource.widgets.*.json
src/playground/assets/images/


# make sure conf. for npm will not be pushed to REPO
.npmrc


