<div class="back-link">
    <aw-hyperlink routerLink="/play/">
        << Back to DEMOs
    </aw-hyperlink>
</div>


<div class="ui-g">

    <!-- Text Area -->
    <div class="ui-g-12">
        <h2>Date and time field</h2>
    </div>

    <!-- basic only date -->
    <div class="ui-g-12">
        <div class="ui-g-2 event-title"><h4>Basic: inside 2 column</h4></div>

        <div class="ui-g-8 ">
            <aw-form-table [useFiveZone]="true">
                <aw-left>
                    <aw-form-row [label]="'Start date'">
                        <aw-date-time name="startDate" [value]="startDate" [showTime]="false">
                        </aw-date-time>
                    </aw-form-row>
                </aw-left>
                <aw-right>
                    <aw-form-row [label]="'End date'">
                        <aw-date-time name="endDate" [value]="endDate" [showTime]="false">
                        </aw-date-time>
                    </aw-form-row>
                </aw-right>

            </aw-form-table>
        </div>

        <div class="ui-g-2 ">
            Read-only:
            <aw-date-time name="endDate" [value]="endDate" [showTime]="false" [editable]="false">
            </aw-date-time>
        </div>
    </div>


    <!-- basic only date -->
    <div class="ui-g-12">
        <div class="ui-g-2 event-title"><h4>Basic: inside 1 column</h4></div>

        <div class="ui-g-8 ">
            <aw-form-table>
                <aw-form-row [label]="'Start date'">
                    <aw-date-time name="startDate" [value]="startDate" [showTime]="false">
                    </aw-date-time>
                </aw-form-row>

            </aw-form-table>
        </div>
        <div class="ui-g-2 ">
            Read-only:
            <aw-date-time name="startDate" [value]="startDate" [showTime]="false" [editable]="false">
            </aw-date-time>
        </div>
    </div>


    <div class="ui-g-12">
        <div class="ui-g-2 event-title"><h4>Basic: with placeholder onlyl</h4></div>

        <div class="ui-g-8 ">
            <aw-form-table>
                <aw-form-row [label]="'No date'">
                    <aw-date-time name="noDate" [value]="noDate">
                    </aw-date-time>
                </aw-form-row>

            </aw-form-table>
        </div>
        <div class="ui-g-2 ">
            Read-only:
            <aw-date-time name="noDate" [value]="noDate" [showTime]="false" [editable]="false">
            </aw-date-time>
        </div>
    </div>

    <!-- basic only date with size small -->
    <div class="ui-g-12">
        <div
            class="ui-g-2 event-title">
            <h4>
                Basic: inside 1 column with size small
            </h4>
        </div>

        <div class="ui-g-8 ">
            <aw-form-table>
                <aw-form-row [label]="'Start date'" [size]="'small'">
                    <aw-date-time name="startDate" [value]="startDate" [showTime]="false">
                    </aw-date-time>
                </aw-form-row>

            </aw-form-table>
        </div>
        <div class="ui-g-2 ">
            Read-only:
            <aw-date-time name="noDate" [value]="startDate" [showTime]="false" [editable]="false">
            </aw-date-time>
        </div>
    </div>


    <!-- basic only date with predefined FormatName-->
    <div class="ui-g-12">
        <div
            class="ui-g-2 event-title">
            <h4>
                Basic: with pre-defined formatName <i>longDate</i>
            </h4>
        </div>

        <div class="ui-g-8 ">
            <aw-form-table>
                <aw-form-row [label]="'Start date'" [size]="'small'">
                    <aw-date-time name="startDate" [value]="startDate"
                                  formatName="longDate"
                    >
                    </aw-date-time>
                </aw-form-row>

            </aw-form-table>
        </div>
        <div class="ui-g-2 ">
            Read-only:
            <aw-date-time name="startDate" [value]="startDate" [showTime]="false" [editable]="false">
            </aw-date-time>
        </div>
    </div>

    <!-- basic only date with predefined FormatName-->
    <div class="ui-g-12">
        <div
            class="ui-g-2 event-title">
            <h4>
                Basic: without date icon
            </h4>
        </div>

        <div class="ui-g-8 ">
            <aw-form-table>
                <aw-form-row [label]="'Start date'" [size]="'small'">
                    <aw-date-time name="startDate" [value]="startDate"
                                  [showIcon]="false"
                                  formatName="longDate"
                    >
                    </aw-date-time>
                </aw-form-row>

            </aw-form-table>
        </div>
        <div class="ui-g-2 ">
            Read-only:
            <aw-date-time name="startDate" [value]="startDate" [showTime]="false" [editable]="false">
            </aw-date-time>
        </div>
    </div>


    <!-- with Time -->
    <div class="ui-g-12">
        <div
            class="ui-g-2 event-title">
            <h4>
                With Time: using showTime binding
            </h4>
        </div>

        <div class="ui-g-8 ">
            <aw-form-table>
                <aw-form-row [label]="'Start date'">
                    <aw-date-time name="startDate" [value]="startDate"
                                  [showTime]="true">
                    </aw-date-time>
                </aw-form-row>

            </aw-form-table>
        </div>

        <div class="ui-g-2 ">
            Read-only:
            <aw-date-time name="startDate" [value]="startDate" [showTime]="true" [editable]="false">
            </aw-date-time>
        </div>
    </div>


    <!-- with Time -->
    <div class="ui-g-12">
        <div
            class="ui-g-2 event-title">
            <h4>
                Only Time: date is hidden
            </h4>
        </div>

        <div class="ui-g-8 ">
            <aw-form-table>
                <aw-form-row [label]="'Start date'" [size]="'small'">
                    <aw-date-time name="startDate" [value]="startDate"
                                  [showDate]="false">
                    </aw-date-time>
                </aw-form-row>

            </aw-form-table>
        </div>

        <div class="ui-g-2 ">
            Read-only:
            <aw-date-time name="startDate" [value]="startDate" [showDate]="false" [editable]="false">
            </aw-date-time>
        </div>
    </div>


    <!-- with Time -->
    <div class="ui-g-12">
        <div
            class="ui-g-2 event-title">
            <h4>
                Date with ngModel
            </h4>
        </div>

        <div class="ui-g-8 ">
            <aw-form-table>
                <aw-form-row [label]="'Start date'" [size]="'small'">
                    <aw-date-time name="startDate" [(ngModel)]="startDate">
                    </aw-date-time>
                </aw-form-row>

            </aw-form-table>
        </div>
        <div class="ui-g-2 ">
            Read-only:
            <aw-date-time name="startDate" [value]="startDate" [showTime]="false" [editable]="false">
            </aw-date-time>
        </div>
    </div>


</div>



