<p-panel header="My First Component Form" [toggleable]="false">

    <aw-form-table>

        <aw-form-row [label]="'User Id'">
            <aw-input-field [type]="'string'" [name]="'id'"
                            [(ngModel)]="userObject.uniqueName"></aw-input-field>
        </aw-form-row>

        <aw-form-row [label]="'First Name'">
            <aw-input-field [type]="'string'" [name]="'firstName'"
                            [(ngModel)]="userObject.firstName"></aw-input-field>
        </aw-form-row>

        <aw-form-row [label]="'Last Name'">
            <aw-input-field [type]="'string'" [name]="'lastName'"
                            [(ngModel)]="userObject.lastName"></aw-input-field>
        </aw-form-row>

        <aw-form-row [label]="'Age'">
            <aw-input-field [type]="'number'" [name]="'age'"
                            [(ngModel)]="userObject.age"></aw-input-field>
        </aw-form-row>

        <aw-form-row [label]="'Date of birth'">
            <aw-date-time name="startDate" [(ngModel)]="userObject.dob"
                          [showTime]="false">
            </aw-date-time>

        </aw-form-row>
    </aw-form-table>
</p-panel>


<pre>
    <code class="language-markup" pCode>
     &lt;w-form-table&gt;
        &lt;aw-form-row [label]="'User Id'"&gt;
            &lt;aw-input-field [type]="'string'" [name]="'id'"
                            [(ngModel)]="userObject.uniqueName"&gt;&lt;/aw-input-field&gt;
        &lt;/aw-form-row&gt;

        &lt;aw-form-row [label]="'First Name'"&gt;
            &lt;aw-input-field [type]="'string'" [name]="'firstName'"
                            [(ngModel)]="userObject.firstName"&gt;&lt;/aw-input-field&gt;
        &lt;/aw-form-row&gt;

        &lt;aw-form-row [label]="'Last Name'"&gt;
            &lt;aw-input-field [type]="'string'" [name]="'lastName'"
                            [(ngModel)]="userObject.lastName"&gt;&lt;/aw-input-field&gt;
        &lt;/aw-form-row&gt;

        &lt;aw-form-row [label]="'Age'"&gt;
            &lt;aw-input-field [type]="'number'" [name]="'age'"
                            [(ngModel)]="userObject.age"&gt;&lt;/aw-input-field&gt;
        &lt;/aw-form-row&gt;

        &lt;aw-form-row [label]="'Date of birth'"&gt;
            &lt;aw-date-time name="startDate" [(ngModel)]="userObject.dob"
                          [showTime]="false"&gt;
            &lt;/aw-date-time&gt;

        &lt;/aw-form-row&gt;
    &lt;/w-form-table&gt;

    </code>
</pre>
