<div class="back-link">
    <aw-hyperlink routerLink="/play/"><< Back to DEMOs</aw-hyperlink>
</div>


<div class="ui-g">

    <!-- page header -->
    <div class="ui-g-12 page-header">
        <h3>Page Header</h3>
    </div>

    <!-- Field Type -->
    <div class="ui-g-12">
        <div class="ui-g-2"><h4>Page Footer Default</h4></div>

        <div class="ui-g-10">
            <aw-page-footer></aw-page-footer>
        </div>
    </div>


    <div class="ui-g-12">
        <div class="ui-g-2"><h4>Page Footer with Logo and Links</h4></div>

        <div class="ui-g-10  extra-space">
            <aw-page-footer>
                <div class="page-footer-logo">
                    <img src="{{assetFolder}}/images/ariba_logo_white_bkgd.png">
                </div>

            </aw-page-footer>
        </div>
    </div>

    <div class="ui-g-12">
        <div class="ui-g-2"><h4>Page Footer with links, user and copyright</h4></div>

        <div class="ui-g-10 extra-space">
            <aw-page-footer>
                <div class="page-footer-logo">
                    <img src="{{assetFolder}}/images/ariba_logo_white_bkgd.png">
                </div>

                <div class="page-footer-user-info">
                    Chad Noll (cnoll) last visit {{last_visited | date:'MM/dd/yyyy h:mma' }} | Buyer
                    Organization
                </div>

                <span class="page-footer-copyright" #copyright>
                    <p>© 2020–2028 The Future, Inc. All rights reserved</p>
                </span>
            </aw-page-footer>
        </div>
    </div>

</div>









