<h1 class="demo-title">Playground module</h1> <span class="demo-version">(0.23.15)</span>


<p-panel>
    <p-header>
        <div class="ui-helper-clearfix">
            <span class="ui-panel-title" style="font-size:16px;display:inline-block;margin-top:2px">MetaUI Demo</span>
            <button pButton type="button" style="float: right" label="GO"
                    routerLink="/play/metaui"></button>
        </div>
    </p-header>

    <p class="demo-descr ">
        Simple example showing how to generate a Form from the domain object.
    </p>

    <p class="demo-descr">
        Every MetaUI application needs to have defined for their domain object a rule file (.oss), in this
        case it is <code>src/playground/rules/CarRentalRequest.oss</code>
    </p>
    <p>
        To play around you can visit <code>src/playground/rules/demo/</code> to change above file to see how you can
        shape the page.

        Every time you change the file please run:
    </p>

    <pre>
<code> npm run oss-user </code>
</pre>
</p-panel>

<br/>
<p-panel>
    <p-header>
        <div class="ui-helper-clearfix">
<span class="ui-panel-title"
      style="font-size:16px;display:inline-block;margin-top:2px">MetaUI modules </span>
            <button pButton type="button" style="float: right" label="GO"
                    routerLink="/play/metaui-modules"></button>
        </div>
    </p-header>

    <p class="demo-descr ">
        This is simple example presenting next level of MetaUI, introducing modules support.
        Modules is high level concept which combines custom layouts and actions.
    </p>

    <p>
        For more please see: <code>src/playground/rules/Application.oss</code>
    </p>
</p-panel>

<p-panel>
    <p-header>
        <div class="ui-helper-clearfix">
<span class="ui-panel-title"
      style="font-size:16px;display:inline-block;margin-top:2px">MetaUI sections </span>
            <button pButton type="button" style="float: right" label="GO"
                    routerLink="/play/metaui-sections"></button>
        </div>
    </p-header>

    <p class="demo-descr ">
        Example demonstrates MetaSections. List of Sections that can be declared using oss.
    </p>
</p-panel>


<p-panel>
    <p-header>
        <div class="ui-helper-clearfix">
<span class="ui-panel-title"
      style="font-size:16px;display:inline-block;margin-top:2px">MetaUI nested structure </span>
            <button pButton type="button" style="float: right" label="GO"
                    routerLink="/play/metaui-nested"></button>
        </div>
    </p-header>

    <p class="demo-descr ">
        Showcase how MetaUI can render nested structure where one m-context object push
        can trigger another m-context object push in order to render who tree.

    </p>
</p-panel>
<p-panel>
    <p-header>
        <div class="ui-helper-clearfix">
            <span class="ui-panel-title" style="font-size:16px;display:inline-block;margin-top:2px">Simple Form</span>
            <button pButton type="button" style="float: right" label="GO"
                    routerLink="/play/forms"></button>
        </div>
    </p-header>

    <p class="demo-descr ">
        Simple FormTable example showing usage for the 1 column layout as well as 2 column layout
    </p>
</p-panel>
<br/>
<p-panel>
    <p-header>
        <div class="ui-helper-clearfix">
            <span class="ui-panel-title" style="font-size:16px;display:inline-block;margin-top:2px">i18n Support</span>
            <button pButton type="button" style="float: right" label="GO"
                    routerLink="/play/i18n"></button>
        </div>
    </p-header>

    <p class="demo-descr ">
        This example shows how to use i18n support in your application.
    </p>
</p-panel>
<br/>
<p-panel>
    <p-header>
        <div class="ui-helper-clearfix">
            <span class="ui-panel-title" style="font-size:16px;display:inline-block;margin-top:2px">Showcase some of the Widgets in Forms</span>
            <button pButton type="button" style="float: right" label="GO"
                    routerLink="/play/controls"></button>
        </div>
    </p-header>

    <p class="demo-descr ">
        For the demo only we layout all the supported wigets in the FormLayout so you can see how
        they
        can be initialized and used
    </p>
</p-panel>

<p-panel>
    <p-header>
        <div class="ui-helper-clearfix">
            <span class="ui-panel-title"
                  style="font-size:16px;display:inline-block;margin-top:2px">Outline Repetition </span>
            <button pButton type="button" style="float: right" label="GO"
                    routerLink="/play/outline"></button>
        </div>
    </p-header>

    <p class="demo-descr ">
        This demonstrates how to render outline/tree structure
    </p>
</p-panel>

<p-panel>
    <p-header>
        <div class="ui-helper-clearfix">
            <span class="ui-panel-title"
                  style="font-size:16px;display:inline-block;margin-top:2px">Mock server demo</span>
            <button pButton type="button" style="float: right" label="GO"
                    routerLink="/play/mock"></button>
        </div>
    </p-header>

    <p class="demo-descr ">
        This demonstrates how our mock server that simulates REST API comunication
    </p>
</p-panel>

<br/>
<p-panel>
    <p-header>
        <div class="ui-helper-clearfix">
            <span class="ui-panel-title"
                  style="font-size:16px;display:inline-block;margin-top:2px">Components</span>
            <button pButton type="button" style="float: right" label="GO"
                    routerLink="/play/components"></button>
        </div>
    </p-header>

    <p class="demo-descr ">
        This demonstrates all the components in our library
    </p>
</p-panel>

<br/>

