<p-panel header="Tutorial QuickStep 1" [toggleable]="false">
    <p-header>
        <div class="ui-helper-clearfix" style="float: right">
            <aw-hyperlink routerLink="/play/"><< Back to DEMOs</aw-hyperlink>
        </div>
    </p-header>

    <div class="demo container ">
        <div class="ui-g ">
            <div class="ui-g-12 ui-md-3">
                <aw-button [type]="'button'" [style]="'success'">Create
                </aw-button>
            </div>
            <div class="ui-g-12 ui-md-3">
                <aw-button [type]="'button'" (action)="onEdit($event)" [style]="'primary'">Edit
                </aw-button>
            </div>
            <div class="ui-g-12 ui-md-3">
                <aw-button [type]="'button'" (action)="onView($event)" [style]="'info'">View
                </aw-button>
            </div>

        </div>
    </div>

    <hr/>
    <div class="row">
        <m-context [object]="userObject" [operation]="operation" layout="Inspect2">
            <m-include-component></m-include-component>
        </m-context>
    </div>

</p-panel>


