<main class="fd-page">
  <button fd-button (click)="operation='create'">Create</button>
  <button fd-button (click)="operation='edit'">Edit</button>
  <button fd-button (click)="operation='view'">View</button>

  <m-context [object]="invoice" [operation]="operation" layout="Inspect" [formGroup]="form">
    <m-render></m-render>
  </m-context>


  <table cellpadding="50px">
    <tr>
      <td width="50%" valign="top" >
        <b>Object:</b>
        <pre>
<!--            {{invoice | json}}-->
        </pre>
      </td>
      <td valign="top">
        <b>FormGroup</b>
        <pre>
<!--            {{form?.value | json}}-->
          </pre>
      </td>
    </tr>

  </table>
</main>
