<div class="back-link">
    <aw-hyperlink routerLink="/play/"><< Back to DEMOs</aw-hyperlink>
</div>


<div class="ui-g cb-demo-page">

    <div class="ui-g-12 ">
        <h3>Checkbox</h3>
    </div>


    <div class="ui-g-12">
        <div class="ui-g-2"><h4>Form checkbox initialized using [(ngModel)] </h4></div>

        <div class="ui-g-7">
            <aw-form-table [useFiveZone]="false" [labelsOnTop]="true">
                <aw-form-row [label]="'Colors'" [name]="'color'">
                    <aw-checkbox [name]="'color'" [value]="'red'" [label]="'Red'"
                                 [(ngModel)]="model1">
                    </aw-checkbox>
                    <br/>

                    <aw-checkbox [name]="'color'" [value]="'blue'" [label]="'Blue'"
                                 [(ngModel)]="model1">
                    </aw-checkbox>
                    <br/>
                    <aw-checkbox [name]="'color'" [value]="'yellow'" [label]="'Yellow'"
                                 [(ngModel)]="model1">
                    </aw-checkbox>
                </aw-form-row>
            </aw-form-table>
        </div>

        <div class="ui-g-3">
            {{model1}}
        </div>
    </div>


    <!--<div class="ui-g-12">-->
    <!--<div class="ui-g-2"><h4>Form checkbox initialized using [formGroup] </h4></div>-->

    <!--<div class="ui-g-7">-->
    <!--<aw-form-table [formGroup]="formModel" [useFiveZone]="false" [labelsOnTop]="true">-->
    <!--<aw-form-row [label]="'Colors'" [name]="'color2'">-->
    <!--<aw-checkbox [name]="'color2'" [value]="'red'" [label]="'Red'">-->
    <!--</aw-checkbox>-->
    <!--<br/>-->

    <!--<aw-checkbox [name]="'color2'" [value]="'blue'" [label]="'Blue'">-->
    <!--</aw-checkbox>-->
    <!--<br/>-->
    <!--<aw-checkbox [name]="'color2'" [value]="'yellow'" [label]="'Yellow'">-->
    <!--</aw-checkbox>-->
    <!--</aw-form-row>-->
    <!--</aw-form-table>-->
    <!--</div>-->

    <!--<div class="ui-g-3">-->
    <!--{{formModel.value.color2 | json}}-->
    <!--</div>-->
    <!--</div>-->


    <!--<div class="ui-g-12">-->
    <!--<div class="ui-g-2"><h4>Form checkbox with boolean </h4></div>-->

    <!--<div class="ui-g-7">-->
    <!--<aw-form-table [useFiveZone]="false" [labelsOnTop]="true">-->
    <!--<aw-form-row [label]="'Colors'" [name]="'yesno'">-->
    <!--<aw-checkbox [name]="'yesno'" [value]="false" [label]="'Confirm'"-->
    <!--[(ngModel)]="model3"-->
    <!--&gt;-->
    <!--</aw-checkbox>-->
    <!--</aw-form-row>-->
    <!--</aw-form-table>-->
    <!--</div>-->

    <!--<div class="ui-g-3">-->
    <!--{{model3}}-->
    <!--</div>-->
    <!--</div>-->


    <!--<div class="ui-g-12">-->
    <!--<div class="ui-g-2"><h4>Action checkbox with Alert </h4></div>-->

    <!--<div class="ui-g-7">-->
    <!--<aw-form-table [useFiveZone]="false" [labelsOnTop]="true">-->
    <!--<aw-form-row [label]="'Action Checkbox'" [name]="'xxx'">-->
    <!--<aw-checkbox [type]="'action'" [label]="'Confirm'"-->
    <!--(action)="showAlert($event)">-->
    <!--</aw-checkbox>-->
    <!--</aw-form-row>-->
    <!--</aw-form-table>-->
    <!--</div>-->

    <!--<div class="ui-g-3">-->

    <!--</div>-->
    <!--</div>-->

</div>









