:host {
  background-color: #f7f7f7;

  .fd-shell__footer {
    background: #FFFFFF;
  }

  .user-info {
    font-size: 10px;
    position: absolute;
    color: #c4c4c4;
    bottom: 5px;
  }

}


.fd-shell__app {
  height: 1%;
}

.fd-app__main {
  background-color: #EDEFF0;
}

