<p-panel header="Simple 1 column Form " [toggleable]="false">

    <p-header>
        <div class="ui-helper-clearfix" style="float: right">
            <aw-hyperlink routerLink="/play/"><< Back to DEMOs</aw-hyperlink>
        </div>
    </p-header>


    <p class="card-text">
        Creating form layout with two rows. We just provide a <code>FormGroup</code> so we can
        access the model.

    </p>
    <hr/>

    <aw-form-table>
        <aw-form-row [label]="'First Name'" [highlightRow]="labelsOnTop">
            <aw-input-field [type]="'string'" [name]="'firstName'"
                            [(ngModel)]="myFirstValue"></aw-input-field>
        </aw-form-row>

        <aw-form-row [label]="'Last Name'">
            <aw-text-area [name]="'description'" rows="2" columns="50"
                          [autoResize]="autoResize"></aw-text-area>
        </aw-form-row>
    </aw-form-table>

    <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-10">
        </div>
        <div class="ui-g-12 ui-md-2 ">
            <aw-button (action)="submitForm()">Submit</aw-button>
        </div>
    </div>

    <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-10">
        </div>
        <div class="ui-g-12 ui-md-2 ">
            <aw-hyperlink (action)="submitForm()">Submit</aw-hyperlink>
        </div>
    </div>

</p-panel>


<p-panel header="Simple 3 column Form " [toggleable]="false">

    <p-header>
        <div class="ui-helper-clearfix" style="float: right">
            <aw-hyperlink routerLink="/play/"><< Back to DEMOs</aw-hyperlink>
        </div>
    </p-header>


    <p class="card-text">
        Creating form layout with two rows. We just provide a <code>FormGroup</code> so we can
        access the model.

    </p>
    <hr/>

    <aw-form-table [useFiveZone]="useFiveZone" [labelsOnTop]="labelsOnTop">


        <aw-left>
            <aw-form-row [label]="'First Name'" [name]="'firstName'">
                <aw-input-field [type]="'string'"></aw-input-field>
            </aw-form-row>
        </aw-left>

        <aw-middle>
            <aw-form-row [label]="'User'" [name]="'User'">
                <aw-input-field [type]="'string'"></aw-input-field>
            </aw-form-row>
        </aw-middle>

        <aw-right>
            <aw-form-row [label]="'Last Name'" [name]="'lastName'">
                <aw-input-field [type]="'string'"></aw-input-field>
            </aw-form-row>

            <aw-form-row [label]="'Age'" [name]="'Age'">
                <aw-input-field [type]="'string'"></aw-input-field>
            </aw-form-row>
        </aw-right>
    </aw-form-table>

</p-panel>


<p-panel header="Simple Form with a basic navigator" [toggleable]="false">

    <p-header>
        <div class="ui-helper-clearfix" style="float: right">
            <aw-hyperlink routerLink="/play/"><< Back to DEMOs</aw-hyperlink>
        </div>
    </p-header>

    <p class="card-text">
        Creating form layout wrapped with Basic Page Navigator

    </p>
    <br/>
    <br/>
    <br/>


    <aw-basic-navigator>
        <aw-form-table>
            <aw-form-row [label]="'First Name'" [name]="'firstName'">
                <aw-input-field [type]="'string'"></aw-input-field>
            </aw-form-row>

            <aw-form-row [label]="'Last Name'" [name]="'lastName'">
                <aw-input-field [type]="'string'"></aw-input-field>
            </aw-form-row>
        </aw-form-table>

    </aw-basic-navigator>

</p-panel>


<p-panel header="labels on Top" [toggleable]="false">

    <p class="card-text">
        Creating form layout wrapped with Basic Page Navigator

    </p>
    <br/>
    <br/>
    <br/>

    <aw-form-table [labelsOnTop]="true" [useFiveZone]="useFiveZone">
        <aw-left>
            <aw-form-row [label]="'First Name'" [name]="'firstName'">
                <aw-string value="Frank"></aw-string>
            </aw-form-row>

            <aw-form-row [label]="'Commodity Code'" [name]="'Age'">
                <aw-string value="Marketing research and design"></aw-string>
            </aw-form-row>
        </aw-left>

        <aw-middle>
            <aw-form-row [label]="'Creation date1'" [name]="'lastName1'">
                <aw-string value="05/04/2017 "></aw-string>
            </aw-form-row>
            <aw-form-row [label]="'Last Name1'" [name]="'lastName1   '">
                <aw-string value="Kolar "></aw-string>
            </aw-form-row>
        </aw-middle>

        <aw-right>
            <aw-form-row [label]="'Creation date'" [name]="'lastName'">
                <aw-string value="05/04/2017 "></aw-string>
            </aw-form-row>
            <aw-form-row [label]="'Last Name'" [name]="'lastName'">
                <aw-string value="Kolar "></aw-string>
            </aw-form-row>

        </aw-right>
    </aw-form-table>

</p-panel>
