<button fd-button (click)="updateOp('edit')" label="Edit">Edit</button> |
<button fd-button (click)="updateOp('view')" label="View">View</button>


operation: {{operation}}

<div [formGroup]="formGroup">
  <m-context layout="DynamicPageWithActions">

    <m-context #main [object]="object" [operation]="operation">
      <m-render></m-render>

      <ng-template #i18n let-errors>
        <span *ngIf="errors?.metavalid">
            {{errors.metavalid.msg    }}
        </span>
        <span *ngIf="errors?.required && !errors.metavalid">
            Required field
        </span>

      </ng-template>
    </m-context>


  </m-context>

</div>


<!--{{formGroup.getRawValue() | json}}-->
