<div class="back-link">
    <aw-hyperlink routerLink="/play/"><< Back to DEMOs</aw-hyperlink>
</div>


<div class="ui-g cb-demo-page">

    <div class="ui-g-12 ">
        <h3>Radiobutton list</h3>
    </div>


    <div class="ui-g-12">
        <div class="ui-g-2"><h4>Group of radios initialized using [formGroup] </h4></div>

        <div class="ui-g-7">
            <aw-form-table [useFiveZone]="false" [labelsOnTop]="true">
                <aw-form-row [label]="'Category as obj'" [name]="'categoryobj'">

                    <aw-radiobutton-list [name]="'categoryobj'"
                                         [list]="categoriesObj"
                                         [selection]="selectedCategoriesObj">

                    </aw-radiobutton-list>
                </aw-form-row>
            </aw-form-table>
        </div>

        <div class="ui-g-3">
            {{env.currentForm.value.categoryobj | json}}<br/>

        </div>
    </div>


    <div class="ui-g-12">
        <div class="ui-g-2"><h4>Group of checkboxes initialized using [ngModel] </h4></div>

        <div class="ui-g-7">
            <aw-radiobutton-list [name]="'categoryobj2'"
                                 [list]="categoriesObj"
                                 [(ngModel)]="selectedCategoriesObj2">

            </aw-radiobutton-list>
        </div>

        <div class="ui-g-3">
            {{selectedCategoriesObj2 | json}}<br/>

        </div>
    </div>

</div>









