:host {
  ::ng-deep .fd-section {
    border: 1px solid transparent !important;
    margin: 0 !important;
    padding: 0;

    .fd-form-item  {

    }

    .fd-form-label  {
      margin-bottom: 0;
    }
  }

  .cipher {
    padding-right: 5px;
  }
}

