<h1 class="demo-title">Playground module</h1> <span class="demo-version">(6.0.1)</span>


<p-panel>
    <p-header>
        <div class="ui-helper-clearfix">
            <span class="ui-panel-title" style="font-size:16px;display:inline-block;margin-top:2px">Simple Form</span>
            <button pButton type="button" style="float: right" label="GO"
                    routerLink="/play/forms"></button>
        </div>
    </p-header>

    <p class="demo-descr ">
        Simple FormTable example showing usage for the 1 column layout as well as 2 column layout
    </p>
</p-panel>
<br/>
<br/>
<p-panel>
    <p-header>
        <div class="ui-helper-clearfix">
            <span class="ui-panel-title" style="font-size:16px;display:inline-block;margin-top:2px">Showcase some of the Widgets in Forms</span>
            <button pButton type="button" style="float: right" label="GO"
                    routerLink="/play/controls"></button>
        </div>
    </p-header>

    <p class="demo-descr ">
        For the demo only we layout all the supported wigets in the FormLayout so you can see how
        they
        can be initialized and used
    </p>
</p-panel>

<p-panel>
    <p-header>
        <div class="ui-helper-clearfix">
            <span class="ui-panel-title"
                  style="font-size:16px;display:inline-block;margin-top:2px">Outline Repetition </span>
            <button pButton type="button" style="float: right" label="GO"
                    routerLink="/play/outline"></button>
        </div>
    </p-header>

    <p class="demo-descr ">
        This demonstrates how to render outline/tree structure
    </p>
</p-panel>

<br/>
<p-panel>
    <p-header>
        <div class="ui-helper-clearfix">
            <span class="ui-panel-title"
                  style="font-size:16px;display:inline-block;margin-top:2px">Components</span>
            <button pButton type="button" style="float: right" label="GO"
                    routerLink="/play/components"></button>
        </div>
    </p-header>

    <p class="demo-descr ">
        This demonstrates all the components in our library
    </p>
</p-panel>

<br/>

