.nav-item:first-child {
  width: 100px;
}

.my-form {
  padding: 0;
}

.meta-demo-page {
  padding: 0 6em;
}

::ng-deep .u-user-detail {

  &.label-on-top {
    padding-bottom: 0 !important;
  }

  .control-value .w-string-field {
    line-height: 20px !important;
    color: #636363;

    &:first-of-type {
      color: #000;
    }
  }

}
