<main class="fd-page">
  <header class="fd-page__header fd-has-background-color-background-2">
    <fdp-action-bar
      [title]="'Invoice'"
      [showBackButton]="true"
      [editing]="false"
      [description]="'Invoice with lines items'"
      [actionItems]="operation === 'edit' ? butItemsEdit :  butItemsCreate "
      [placement]="'bottom-end'"
      (itemClick)="onActionClicked($event)"
      (backButtonClick)="onBackButtonClick()">
    </fdp-action-bar>
  </header>
  <div class="fd-page__content ">
    <div class="row center-xs">
      <div class="col-xs-12 col-sm-11 col-md-9 col-lg-9">
        <ng-container *ngTemplateOutlet="invoiceForm"></ng-container>
      </div>
    </div>
  </div>
</main>


<ng-template #invoiceForm>
  <m-context [object]="invoice" operation="edit" layout="Inspect">
    <m-include-component></m-include-component>
  </m-context>

</ng-template>


