$color-grey: #cecece;
$color-grey-02: #455A64;
$color-grey-03: #607d8b;
$color-grey-04: #f5f5f5;
$color-grey-05: #fafafa;
$color-black: #253137;
$color-blue: #2196f3;

$border-color: $color-grey;

$header-height: 64px;
$sidenav-width: 260px;
$aside-nav-width: 180px;
$text-color: $color-grey-03;
