<mat-toolbar>
  <header id="header">
    <button class="nav-opener hamburger mat-button" (click)="navToggle()">
      <mat-icon svgIcon="ngx-meta-hamburger"></mat-icon>
    </button>
    <strong class="logo">
      <a routerLink="" aria-label="MetaUI logo">metaUI</a>
    </strong>

    <ul class="socials">
      <li>
        <a href="https://github.com/ngx-meta/rules" aria-label="MetaUI on github">
          <mat-icon svgIcon="ngx-meta-github"></mat-icon>
        </a>
      </li>

      <li>
        <a href="https://twitter.com/metauiframework" aria-label="MetaUI on twitter">
          <mat-icon svgIcon="ngx-meta-twitter"></mat-icon>
        </a>
      </li>
    </ul>
  </header>
</mat-toolbar>
