<mat-toolbar color="primary" class="mat-elevation-z4">

  <!--<button *ngFor="let route of routingService.appRouting | keyvalue"-->
          <!--mat-button [routerLink]="route.value.path" (click)="route.value.action($event)">-->
    <!--<mat-icon *ngIf="route.value.icon">{{route.value.icon}}</mat-icon> {{route.value.label}}-->
  <!--</button>-->

  <button [routerLink]="['/home'] " mat-button>Home</button>
  <button [routerLink]="['/user'] " mat-button>User Detail</button>

</mat-toolbar>



<router-outlet></router-outlet>

