<div class="back-link">
    <aw-hyperlink routerLink="/play/"><< Back to DEMOs</aw-hyperlink>
</div>


<div class="ui-g">

    <!-- page header -->
    <div class="ui-g-12 page-header">
        <h3>Card</h3>
    </div>

    <div class="ui-g-12">
        <div class="ui-g-4">
            <h4>Card default selectable no action</h4>

            card 1: {{card1.selected}}<br/>
            card 2: {{card2.selected}}
        </div>

        <br/>
        <div class="ui-g-8">

            <aw-card #card1 [hasAction]="false" [width]="'202px'" [height]="'154px'">
                <aw-card-title [align]="'bottom-left'">
                    <span class="a-supplier-tag">
                        Preferred
                    </span>
                </aw-card-title>

                <aw-card-top>
                    <div class="supplierName">
                        Haight Pumps
                    </div>
                    <div class="supplierLocation">
                        Palo Alto, CA, USA
                    </div>
                </aw-card-top>

                <aw-card-bottom class="w-card-zbottom">
                    some text about the supplier and his parents<br/>
                    and some contacts
                </aw-card-bottom>

            </aw-card>

            <aw-card #card2 [hasAction]="false" [width]="'202px'" [height]="'154px'">
                <aw-card-title [align]="'bottom-left'">
                    <span class="a-supplier-tag">
                        Qualified
                    </span>
                </aw-card-title>
                <aw-card-top>
                    <div class="supplierName">
                        Haight Pumps
                    </div>
                    <div class="supplierLocation">
                        Palo Alto, CA, USA
                    </div>
                </aw-card-top>

                <aw-card-bottom class="w-card-zbottom">
                    some text about the supplier and his parents<br/>
                    and some contacts
                </aw-card-bottom>
            </aw-card>
        </div>


        <div class="ui-g-4">
            <h4>Card non selectable</h4>
        </div>

        <br/>
        <div class="ui-g-8">

            <aw-card [hasAction]="false" [width]="'202px'" [height]="'154px'"
                     [selectable]="false">
                <aw-card-title [align]="'bottom-left'">
                    <span class="a-supplier-tag">
                        Preferred
                    </span>
                </aw-card-title>

                <aw-card-top>
                    <div class="supplierName">
                        Haight Pumps
                    </div>
                    <div class="supplierLocation">
                        Palo Alto, CA, USA
                    </div>
                </aw-card-top>

                <aw-card-bottom class="w-card-zbottom">
                    some text about the supplier and his parents<br/>
                    and some contacts
                </aw-card-bottom>

            </aw-card>

            <aw-card [hasAction]="false" [width]="'202px'" [height]="'154px'"
                     [selectable]="false">
                <aw-card-title [align]="'bottom-left'">
                    <span class="a-supplier-tag">
                        Qualified
                    </span>
                </aw-card-title>
                <aw-card-top>
                    <div class="supplierName">
                        Haight Pumps
                    </div>
                    <div class="supplierLocation">
                        Palo Alto, CA, USA
                    </div>
                </aw-card-top>

                <aw-card-bottom class="w-card-zbottom">
                    some text about the supplier and his parents<br/>
                    and some contacts
                </aw-card-bottom>
            </aw-card>
        </div>


        <div class="ui-g-4">
            <h4>Card with custom action </h4>
            # of event (card3): {{cards.card3}} <br/>
            # of event (card4): {{cards.card4}}
        </div>

        <br/>
        <div class="ui-g-8">

            <aw-card #card3 [width]="'202px'" [height]="'154px'"
                     [hasAction]="true"
                     [selectable]="true" [actionIcon]="'icon-question-mark'"
                    (onAction)="onAction(3, $event)"
            >
                <aw-card-title [align]="'bottom-left'">
                    <span class="a-supplier-tag">
                        Preferred
                    </span>
                </aw-card-title>

                <aw-card-top>
                    <div class="supplierName">
                        Haight Pumps
                    </div>
                    <div class="supplierLocation">
                        Palo Alto, CA, USA
                    </div>
                </aw-card-top>

                <aw-card-bottom class="w-card-zbottom">
                    some text about the supplier and his parents<br/>
                    and some contacts
                </aw-card-bottom>

            </aw-card>

            <aw-card #card4  [width]="'202px'" [height]="'154px'"
                     [hasAction]="true"
                     [actionIcon]="'icon-question-mark'"
                     (onAction)="onAction(4, $event)"
                     [selectable]="true">
                <aw-card-title [align]="'bottom-left'">
                    <span class="a-supplier-tag">
                        Qualified
                    </span>
                </aw-card-title>
                <aw-card-top>
                    <div class="supplierName">
                        Haight Pumps
                    </div>
                    <div class="supplierLocation">
                        Palo Alto, CA, USA
                    </div>
                </aw-card-top>

                <aw-card-bottom class="w-card-zbottom">
                    some text about the supplier and his parents<br/>
                    and some contacts
                </aw-card-bottom>
            </aw-card>
        </div>

        <div class="ui-g-4">
            <h4>Card non selectable but with action  </h4>
            # of hover event fired card7: {{cards.card5}} <br/>
            # of event (card6): {{cards.card6}}
        </div>

        <br/>
        <div class="ui-g-8">

            <aw-card #card5 [width]="'202px'" [height]="'154px'"
                     [hasAction]="true"
                     [selectable]="false" [actionIcon]="'icon-question-mark'"
                     (onAction)="onAction(5, $event)"
            >
                <aw-card-title [align]="'bottom-left'">
                    <span class="a-supplier-tag">
                        Preferred
                    </span>
                </aw-card-title>

                <aw-card-top>
                    <div class="supplierName">
                        Haight Pumps
                    </div>
                    <div class="supplierLocation">
                        Palo Alto, CA, USA
                    </div>
                </aw-card-top>

                <aw-card-bottom class="w-card-zbottom">
                    some text about the supplier and his parents<br/>
                    and some contacts
                </aw-card-bottom>

            </aw-card>

            <aw-card #card6  [width]="'202px'" [height]="'154px'"
                     [hasAction]="true"
                     [actionIcon]="'icon-question-mark'"
                     (onAction)="onAction(6, $event)"
                     [selectable]="false">
                <aw-card-title [align]="'bottom-left'">
                    <span class="a-supplier-tag">
                        Qualified
                    </span>
                </aw-card-title>
                <aw-card-top>
                    <div class="supplierName">
                        Haight Pumps
                    </div>
                    <div class="supplierLocation">
                        Palo Alto, CA, USA
                    </div>
                </aw-card-top>

                <aw-card-bottom class="w-card-zbottom">
                    some text about the supplier and his parents<br/>
                    and some contacts
                </aw-card-bottom>
            </aw-card>
        </div>


        <div class="ui-g-4">
            <h4>Card with hover effect</h4>
            # of event (card7): {{cards.card7}}
        </div>

        <br/>
        <div class="ui-g-8">

            <aw-card  [width]="'202px'" [height]="'154px'" [hasHover]="true"
                     [selectable]="false" [hasAction]="false"
                (onHoverAction)="onAction(7, $event)"
            >
                <aw-card-title [align]="'bottom-left'">
                    <span class="a-supplier-tag">
                        Preferred
                    </span>
                </aw-card-title>

                <aw-card-top>
                    <div class="supplierName">
                        Haight Pumps
                    </div>
                    <div class="supplierLocation">
                        Palo Alto, CA, USA
                    </div>
                </aw-card-top>

                <aw-card-bottom class="w-card-zbottom">
                    some text about the supplier and his parents<br/>
                    and some contacts
                </aw-card-bottom>

            </aw-card>
        </div>

        <div class="ui-g-4">
            <h4>Card user template </h4>

        </div>

        <br/>
        <div class="ui-g-8">

            <aw-card  #withUserTempl [width]="'202px'" [height]="'154px'"
                      [hasAction]="true"
                        [selected]="false"
                      [actionIcon]="'icon-question-mark'"
                      (onAction)="onAction(8, $event)"
                      [selectable]="false"
            >
                <aw-card-title [align]="'bottom-left'">
                    <span class="a-supplier-tag">
                        Preferred
                    </span>
                </aw-card-title>

                <aw-card-top>
                    <div class="supplierName">
                        Haight Pumps
                    </div>
                    <div class="supplierLocation">
                        Palo Alto, CA, USA
                    </div>
                </aw-card-top>

                <aw-card-bottom class="w-card-zbottom">
                    some text about the supplier and his parents<br/>
                    and some contacts
                </aw-card-bottom>


                <ng-template #body>
                    <div class="card-actions ui-g ui-fluid">
                        <div class="ui-g-12">
                            <aw-button (action)="withUserTempl.useBodyTemplate = false">
                                Save
                            </aw-button>

                        </div>
                        <div class="ui-g-12">
                            <aw-button (action)="withUserTempl.useBodyTemplate = false">
                                Cancel
                            </aw-button>
                        </div>
                    </div>
                </ng-template>

            </aw-card>

        </div>

    </div>

</div>

