<div class="back-link">
    <aw-hyperlink routerLink="/play/"><< Back to DEMOs</aw-hyperlink>
</div>


<div class="ui-g">

    <!-- page header -->
    <div class="ui-g-12 page-header">
        <h3>Scrollable Container</h3>
    </div>

    <div class="ui-g-12">
        <div class="ui-g-2"><h4>Horizontal scrolling </h4></div>
        <div class="ui-g-10">
            <aw-scrollable [direction]="'horizontal'">
                <w-demo-card> Card 1</w-demo-card>
                <w-demo-card> Card 2</w-demo-card>
                <w-demo-card> Card 3</w-demo-card>
                <w-demo-card> Card 4</w-demo-card>
                <w-demo-card> Card 5</w-demo-card>
                <w-demo-card> Card 6</w-demo-card>
                <w-demo-card> Card 7</w-demo-card>
                <w-demo-card> Card 8</w-demo-card>
                <w-demo-card> Card 9</w-demo-card>
            </aw-scrollable>
        </div>
    </div>


    <div class="ui-g-12">
        <div class="ui-g-2"><h4>Horizontal scrolling with custom with 50vw</h4></div>
        <div class="ui-g-10">
            <aw-scrollable [width]="'50vw'" [direction]="'horizontal'">
                <w-demo-card> Card 1</w-demo-card>
                <w-demo-card> Card 2</w-demo-card>
                <w-demo-card> Card 3</w-demo-card>
                <w-demo-card> Card 4</w-demo-card>
                <w-demo-card> Card 5</w-demo-card>
                <w-demo-card> Card 6</w-demo-card>
                <w-demo-card> Card 7</w-demo-card>
                <w-demo-card> Card 8</w-demo-card>
                <w-demo-card> Card 9</w-demo-card>
            </aw-scrollable>
        </div>
    </div>

    <div class="ui-g-12">
        <div class="ui-g-2"><h4>Horizontal scrolling constrained by parent wrapping div</h4></div>
        <div class="ui-g-10">
            <div class="parent-h-div">
                <aw-scrollable [direction]="'horizontal'">
                    <w-demo-card> Card 1</w-demo-card>
                    <w-demo-card> Card 2</w-demo-card>
                    <w-demo-card> Card 3</w-demo-card>
                    <w-demo-card> Card 4</w-demo-card>
                    <w-demo-card> Card 5</w-demo-card>
                    <w-demo-card> Card 6</w-demo-card>
                    <w-demo-card> Card 7</w-demo-card>
                    <w-demo-card> Card 8</w-demo-card>
                    <w-demo-card> Card 9</w-demo-card>
                </aw-scrollable>
            </div>
        </div>
    </div>


    <div class="ui-g-12">
        <div class="ui-g-2"><h4>Horizontal scrolling with custom class</h4></div>
        <div class="ui-g-10">
            <div class="parent-h-div">
                <aw-scrollable [direction]="'horizontal'" [styleClass]="'my-scrollable-class'">
                    <w-demo-card> Card 1</w-demo-card>
                    <w-demo-card> Card 2</w-demo-card>
                    <w-demo-card> Card 3</w-demo-card>
                    <w-demo-card> Card 4</w-demo-card>
                    <w-demo-card> Card 5</w-demo-card>
                    <w-demo-card> Card 6</w-demo-card>
                    <w-demo-card> Card 7</w-demo-card>
                    <w-demo-card> Card 8</w-demo-card>
                    <w-demo-card> Card 9</w-demo-card>
                </aw-scrollable>
            </div>
        </div>
    </div>

    <div class="ui-g-12">
        <div class="ui-g-2"><h4>No Scrolling aligned to left by default</h4></div>
        <div class="ui-g-10">
            <div class="parent-h-div">
                <aw-scrollable [direction]="'none'">
                    <w-demo-card> Card 1</w-demo-card>
                    <w-demo-card> Card 2</w-demo-card>
                    <w-demo-card> Card 3</w-demo-card>
                    <w-demo-card> Card 4</w-demo-card>
                    <w-demo-card> Card 5</w-demo-card>
                    <w-demo-card> Card 6</w-demo-card>
                    <w-demo-card> Card 7</w-demo-card>
                    <w-demo-card> Card 8</w-demo-card>
                    <w-demo-card> Card 9</w-demo-card>
                </aw-scrollable>
            </div>
        </div>
    </div>


    <div class="ui-g-12">
        <div class="ui-g-2"><h4>No Scrolling aligned to right</h4></div>
        <div class="ui-g-10">
            <div class="parent-h-div">
                <aw-scrollable [direction]="'none'" [alignment]="'right'">
                    <w-demo-card> Card 1</w-demo-card>
                    <w-demo-card> Card 2</w-demo-card>
                    <w-demo-card> Card 3</w-demo-card>
                    <w-demo-card> Card 4</w-demo-card>
                    <w-demo-card> Card 5</w-demo-card>
                    <w-demo-card> Card 6</w-demo-card>
                    <w-demo-card> Card 7</w-demo-card>
                    <w-demo-card> Card 8</w-demo-card>
                    <w-demo-card> Card 9</w-demo-card>
                </aw-scrollable>
            </div>
        </div>
    </div>


    <div class="ui-g-12">
        <div class="ui-g-2"><h4>No Scrolling aligned to center</h4></div>
        <div class="ui-g-10">
            <div class="parent-h-div">
                <aw-scrollable [direction]="'none'" [alignment]="'center'">
                    <w-demo-card> Card 1</w-demo-card>
                    <w-demo-card> Card 2</w-demo-card>
                    <w-demo-card> Card 3</w-demo-card>
                    <w-demo-card> Card 4</w-demo-card>
                    <w-demo-card> Card 5</w-demo-card>
                    <w-demo-card> Card 6</w-demo-card>
                    <w-demo-card> Card 7</w-demo-card>
                    <w-demo-card> Card 8</w-demo-card>
                    <w-demo-card> Card 9</w-demo-card>
                </aw-scrollable>
            </div>
        </div>
    </div>


    <div class="ui-g-12">
        <div class="ui-g-2"><h4>No Scrolling aligned to justify</h4></div>
        <div class="ui-g-10">
            <div class="parent-h-div">
                <aw-scrollable [direction]="'none'" [alignment]="'justify'">
                    <w-demo-card> Card 1</w-demo-card>
                    <w-demo-card> Card 2</w-demo-card>
                    <w-demo-card> Card 3</w-demo-card>
                    <w-demo-card> Card 4</w-demo-card>
                    <w-demo-card> Card 5</w-demo-card>
                    <w-demo-card> Card 6</w-demo-card>
                    <w-demo-card> Card 7</w-demo-card>
                    <w-demo-card> Card 8</w-demo-card>
                    <w-demo-card> Card 9</w-demo-card>
                    <w-demo-card> Card 9</w-demo-card>
                </aw-scrollable>
            </div>
        </div>
    </div>


    <div class="ui-g-12">
        <div class="ui-g-2"><h4>Vertical scrolling with set height 40vh </h4></div>
        <div class="ui-g-10">
            <aw-scrollable [direction]="'vertical'" [height]="'40vh'">
                <w-demo-card> Card 1</w-demo-card>
                <w-demo-card> Card 2</w-demo-card>
                <w-demo-card> Card 3</w-demo-card>
                <w-demo-card> Card 4</w-demo-card>
                <w-demo-card> Card 5</w-demo-card>
                <w-demo-card> Card 6</w-demo-card>
                <w-demo-card> Card 7</w-demo-card>
                <w-demo-card> Card 8</w-demo-card>
                <w-demo-card> Card 9</w-demo-card>
                <w-demo-card> Card 9</w-demo-card>
            </aw-scrollable>
        </div>
    </div>


    <div class="ui-g-12">
        <div class="ui-g-2"><h4>Vertical scrolling with row direction </h4></div>
        <div class="ui-g-10">
            <aw-scrollable [direction]="'vertical-row'" [height]="'40vh'" [alignment]="'justify'">
                <w-demo-card> Card 1</w-demo-card>
                <w-demo-card> Card 2</w-demo-card>
                <w-demo-card> Card 3</w-demo-card>
                <w-demo-card> Card 4</w-demo-card>
                <w-demo-card> Card 5</w-demo-card>
                <w-demo-card> Card 6</w-demo-card>
                <w-demo-card> Card 7</w-demo-card>
                <w-demo-card> Card 8</w-demo-card>
                <w-demo-card> Card 9</w-demo-card>
                <w-demo-card> Card 9</w-demo-card>
            </aw-scrollable>
        </div>
    </div>


    <div class="ui-g-12">
        <div class="ui-g-2"><h4>Vertical scrolling inside parent div </h4></div>
        <div class="ui-g-10">
            <div class="ui-g vertical-parent-div">

                <div class="ui-g-9">
                    Some content
                </div>

                <div class="ui-g-3">
                    <aw-scrollable [direction]="'vertical'" [height]="'100%'">
                        <w-demo-card> Card 1</w-demo-card>
                        <w-demo-card> Card 2</w-demo-card>
                        <w-demo-card> Card 3</w-demo-card>
                        <w-demo-card> Card 4</w-demo-card>
                        <w-demo-card> Card 5</w-demo-card>
                        <w-demo-card> Card 6</w-demo-card>
                        <w-demo-card> Card 7</w-demo-card>
                        <w-demo-card> Card 8</w-demo-card>
                        <w-demo-card> Card 9</w-demo-card>
                        <w-demo-card> Card 9</w-demo-card>
                    </aw-scrollable>
                </div>

            </div>


        </div>
    </div>

</div>
