<main class="fd-page">
  <div class="fd-page__content fd-has-background-color-neutral-2">
    <fdp-form-group [hintLayout]="'inline'" [multiLayout]="true">

      <fdp-form-field [id]="'Title'" [hint]="'hint for name'" [rank]="1" zone="zTop">
      </fdp-form-field>

      <fdp-form-field [id]="'On Behalf Of'" [hint]="'hint for description'" [rank]="30" zone="zTop">
      </fdp-form-field>

      <fdp-form-field [id]="'Est. Shipping Date'" [rank]="10" zone="zLeft">
      </fdp-form-field>

      <fdp-form-field [id]="'Est. Delivery Date'" [rank]="10" zone="zLeft">
      </fdp-form-field>

      <fdp-form-field [id]="'Cost Center'" [rank]="10" zone="zLeft">
      </fdp-form-field>

      <fdp-form-field [id]="'Asset Details'" [rank]="10" zone="zLeft">
      </fdp-form-field>

      <fdp-form-field [id]="'Website'" [rank]="10" zone="zRight">
      </fdp-form-field>

      <fdp-form-field [id]="'Supplier'" [hint]="'hint for age'" [rank]="10" zone="zRight">
      </fdp-form-field>

      <fdp-form-field [id]="'Supplier Location'" [hint]="'hint for age'" [rank]="10" zone="zRight">
      </fdp-form-field>


      <fdp-form-field [id]="'Accounting Detail'" [hint]="'hint for age'" [rank]="11" zone="zRight">
      </fdp-form-field>

      <fdp-form-field [id]="'Comments'" [hint]="'hint for age'" [rank]="11" zone="zBottom">
      </fdp-form-field>
    </fdp-form-group>
  </div>
</main>
