<main class="fd-page">
  <div *ngIf="true" class="fd-page__content fd-has-background-color-neutral-2">

    <fdp-form-group #fg [multiLayout]="true" [formGroup]="form" [object]="data">

      <!--
    Left side
      -->
      <fdp-form-field #ffl1 [id]="'firstName'" hint="Hint for one " zone="zLeft"
                      [validators]="validators" rank="10">
        <fdp-input [formControl]="ffl1.formControl"></fdp-input>
      </fdp-form-field>

      <fdp-form-field #ffl2 [columns]="8" [id]="'address'" required="true" hint="Hint for two "
                      zone="zLeft" rank="20">
        <fdp-input [formControl]="ffl2.formControl"></fdp-input>
      </fdp-form-field>

      <fdp-form-field #ffl3 [id]="'email'" label="E-mail" hint="Last for two " zone="zLeft"
                      rank="30">
        <fdp-input [formControl]="ffl3.formControl"></fdp-input>
      </fdp-form-field>


      <fdp-form-field #ffl4 [id]="'color'" [required]="true"
                      [placeholder]="'Select color'"
                      hint="Last for two " zone="zLeft" rank="40">

        <fdp-select [formControl]="ffl4.formControl" [list]="colors"
                    [noSelectionString]="'(no value)'">
        </fdp-select>
      </fdp-form-field>

      <fdp-form-field #ffl5 [id]="'location'" label="Preferred location" zone="zLeft" rank="60">
        <fdp-radio-group [list]="locations"
                         [formControl]="ffl5.formControl"
                         hasNoValue="true"
                         lookupKey="id"
                         noValueLabel="none"
                         name="location">
        </fdp-radio-group>
      </fdp-form-field>


      <fdp-form-field #ffl6 [id]="'userConfirmation'" zone="zLeft" [noLabelLayout]="true" rank="80">
        <fdp-checkbox [formControl]="ffl6.formControl"
                      isBinary="true"
                      value="are you in?">
        </fdp-checkbox>
      </fdp-form-field>


      <!--
      Right side
      -->

      <fdp-form-field #ffr1 [id]="'lastName'" hint="Enter your last name" zone="zRight" rank="10">
        <fdp-input [formControl]="ffr1.formControl"></fdp-input>
      </fdp-form-field>


      <fdp-form-field #ffr2 [id]="'amount'" [placeholder]="'Select cost amount'" rank="20"
                      hint="Hint for amount "
                      zone="zRight">
        <fdp-input type="number" [formControl]="ffr2.formControl"></fdp-input>
      </fdp-form-field>

      <fdp-form-field #ffr3 [id]="'accInfo'" hint="hint to enter account info " zone="zRight"
                      rank="30">
        <fdp-input [formControl]="ffr3.formControl"></fdp-input>
      </fdp-form-field>


      <fdp-form-field #ffr4 [id]="'startDate'" label="Start Date" zone="zRight" rank="40"
                      hint="Enter start date">
        <fdp-date-picker [formControl]="ffr4.formControl">
        </fdp-date-picker>
      </fdp-form-field>

      <fdp-form-field #ffr5 [id]="'topings'" label="Your favorite topings" zone="zRight" rank="70">
        <fdp-checkbox-group [list]="topings" [formControl]="ffr5.formControl"
                            lookupKey="id">
        </fdp-checkbox-group>
      </fdp-form-field>

      <fdp-form-field #ffr6 [id]="'supplier'" label="Supplier" zone="zRight" rank="75">
        <fdp-combo-box [dataSource]="cb2List" placeholder="Select your value"
                       displayKey="name"
                       lookupKey="name"
                       [formControl]="ffr6.formControl">

        </fdp-combo-box>
      </fdp-form-field>

      <fdp-form-field zone="zRight" rank="90">
        <fdp-link icon="slim-arrow-right" type="iconleft" (click)="onclick('clicked')">
          This is my Link
        </fdp-link>
      </fdp-form-field>


      <fdp-form-field #ffb1 [id]="'description'" label="Notes" zone="zBottom">
        <fdp-text-area [formControl]="ffb1.formControl">
        </fdp-text-area>

      </fdp-form-field>


      <ng-template #i18n let-errros>
        <span *ngIf="errros.required">
            Value is required
        </span>
        <span *ngIf="errros.maxlength">
            You reached maxium allowed length. Required is {{errros.maxlength.requiredLength}}
          current is
          {{errros.maxlength.actualLength}}
        </span>
      </ng-template>
    </fdp-form-group>
  </div>
</main>


<pre>
  {{form.value | json}}
</pre>


