<fdp-form-group [hintLayout]="'inline'" [multiLayout]="true">
  <fdp-form-field [id]="'name'" [hint]="'hint for name'" [rank]="1" zone="zLeft">
  </fdp-form-field>

  <fdp-form-field [id]="'left 2'" [hint]="'hint for description'" [rank]="30" zone="zLeft">
  </fdp-form-field>

  <fdp-form-field [id]="'left 3'" [hint]="'hint for description'" [rank]="500" zone="zLeft">
  </fdp-form-field>

  <fdp-form-field [id]="'age'" [hint]="'hint for age'" [rank]="10" zone="zRight">
  </fdp-form-field>


  <fdp-form-field [id]="'color'" [hint]="'hint for age'" [rank]="11" zone="zRight">
  </fdp-form-field>

  <fdp-form-field [id]="'description'" [hint]="'hint for description'" [rank]="30" zone="zBottom">
  </fdp-form-field>
</fdp-form-group>
