.dt-sortable-col {
  cursor: pointer;
}

.dt-col-sortable-icon {
  display: inline-block;
  margin-left: .125em;
}

th.dt-cell-def {
  font-weight: normal;
  color: #4A4A4A;
}

th.dt-is-default {
  background-color: #F2F2F2;
  white-space: nowrap;

  &.dt-cell-def:not(.dt-sub-header) {
    border-bottom-color: #F2F2F2;
  }
}

.dt-plain-layout {
  th.dt-is-default {

  }
}

th.dt-sub-header {
  background-color: #ffffff;
}

th .dt-cell-selected {
  border-color: #58B957;
}

td .dt-cell-selected {
  border-left-color: #4F9FCF;
}

// common definition for both single and multi select

.dt-selection-column, .dt-root-section .dt-selection-column {
  width: 46px;
  padding: 0px 12px;
}

.dt-pivot-layout, .dt-plain-layout {
  .dt-selection-column:not(.dt-is-hidden) + td {
    //padding: 10px 10px 10px;
  }
}

th.dt-selection-column, .dt-pivot-layout td.dt-selection-column {
  border-right-color: transparent;
}

// remove edge border is it is now handled by table wrapper
thead tr:first-child th {
  border-top-color: transparent;
}

tbody tr:last-child:not(.dt-drag-row-bottom) td {
  border-bottom-color: transparent;
}

td:first-child, th:first-child {
  border-left-color: transparent;
}

td:last-child, th:last-child {
  border-right-color: transparent;
}

// drag and drop row

/**
 Since our DT collapses borders and its also fixed we dont have much space on how to create and
 highlight space between rows without letting DT to jump to much. If you would go for a border-top
 border-bottom style

 Changing background with gradient is safe and give more freedom without affecting TD dimensions
 */

tbody .dt-drag-row-top {
  > td {
    //border-top: 1px solid #0271d2;
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 97%, rgba(2, 113, 210, 1) 100%);
  }
}

tbody .dt-drag-row-bottom {
  > td {

    //border-bottom: 1px solid #0271d2;
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 97%, rgba(2, 113, 210, 1) 100%);
  }
}

tbody .dt-drag-row-both {
  > td {

    //border-bottom: 1px solid #0271d2;
    background: linear-gradient(0deg, rgba(2, 113, 210, 1) 0%, rgba(255, 255, 255, 1) 3%, rgba(255, 255, 255, 1) 97%, rgba(2, 113, 210, 1) 100%);
  }
}

/**
  Let disable a row while dragging
 */
tbody .dt-row-dragging {
  > td {
    background-color: #ececec;
    color: #b9b9b9;
  }

  .ui-state-active {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
