<div class="back-link">
    <aw-hyperlink routerLink="/play/"><< Back to DEMOs</aw-hyperlink>
</div>


<div class="ui-g rb-demo-page">

    <div class="ui-g-12 ">
        <h3>Radio Button</h3>
    </div>


    <div class="ui-g-12">
        <div class="ui-g-2"><h4>Using [(ngModel)] </h4></div>

        <div class="ui-g-7">
            <aw-form-table [useFiveZone]="false" [labelsOnTop]="true">
                <aw-form-row [label]="'Colors'" [name]="'color'">
                    <aw-radiobutton [name]="'color'" [value]="'red'" [label]="'Red'"
                                    (onChange)="onChange($event)"
                                    [(ngModel)]="model1">
                    </aw-radiobutton>
                    <br/>

                    <aw-radiobutton [name]="'color'" [value]="'blue'" [label]="'Blue'"
                                    [(ngModel)]="model1">
                    </aw-radiobutton>
                    <br/>
                    <aw-radiobutton [name]="'color'" [value]="'yellow'" [label]="'Yellow'"
                                    [(ngModel)]="model1">
                    </aw-radiobutton>

                </aw-form-row>
            </aw-form-table>
        </div>

        <div class="ui-g-3">
            {{model1}}
        </div>
    </div>


    <div class="ui-g-12">
        <div class="ui-g-2"><h4>Using [(formGroup)] </h4></div>

        <div class="ui-g-7">
            <aw-form-table [formGroup]="formModel" [useFiveZone]="false" [labelsOnTop]="true">
                <aw-form-row [label]="'Colors'" [name]="'color'">
                    <aw-radiobutton [name]="'color2'" [value]="'red'" [label]="'Red'">
                    </aw-radiobutton>

                    <aw-radiobutton [name]="'color2'" [value]="'blue'" [label]="'Blue'"
                    >
                    </aw-radiobutton>
                    <aw-radiobutton [name]="'color2'" [value]="'yellow'" [label]="'Yellow'"
                    >
                    </aw-radiobutton>

                </aw-form-row>
            </aw-form-table>
        </div>

        <div class="ui-g-3">
            {{formModel.value.color2}}
        </div>
    </div>


    <div class="ui-g-12">
        <div class="ui-g-2"><h4>Using onChange event </h4></div>

        <div class="ui-g-7">
            <aw-form-table [formGroup]="formModel" [useFiveZone]="false" [labelsOnTop]="true">
                <aw-form-row [label]="'Colors'" [name]="'color'">
                    <aw-radiobutton [name]="'color3'" [value]="'red'" [label]="'Red'"
                                    (onChange)="onChange($event)">
                    </aw-radiobutton>

                    <aw-radiobutton [name]="'color3'" [value]="'blue'" [label]="'Blue'"
                                    (onChange)="onChange($event)"
                    >
                    </aw-radiobutton>
                    <aw-radiobutton
                        [disabled]="true"
                        [name]="'color3'" [value]="'yellow'" [label]="'Yellow'"
                        (onChange)="onChange($event)"
                    >
                    </aw-radiobutton>

                </aw-form-row>
            </aw-form-table>
        </div>

        <div class="ui-g-3">
            {{model3}}
        </div>
    </div>


    <div class="ui-g-12">
        <div class="ui-g-2"><h4>With one option disabled</h4></div>

        <div class="ui-g-7">
            <aw-radiobutton [name]="'color3'" [value]="'red'" [label]="'Red'"
                            [disabled]="true"
                            (onChange)="onChange($event)">
            </aw-radiobutton>
            <br/>
            <aw-radiobutton [name]="'color3'" [value]="'blue'" [label]="'Blue'"
                            (onChange)="onChange($event)"
            >
            </aw-radiobutton>
            <br/>
            <aw-radiobutton
                [name]="'color3'" [value]="'yellow'" [label]="'Yellow'"
                (onChange)="onChange($event)"
            >
            </aw-radiobutton>

        </div>
    </div>
</div>









