<div class="back-link">
    <aw-hyperlink routerLink="/play/"><< Back to DEMOs</aw-hyperlink>
</div>


<div class="ui-g">

    <!--drop with no selection-->
    <div class="ui-g-12 page-header">
        <h3>Dropdown</h3>
    </div>


    <div class="ui-g-12">
        <div class="ui-g-2"><h4>with no selection</h4></div>

        <div class="ui-g-6">
            <aw-form-table [labelsOnTop]="true">
                <aw-form-row [label]="'Colors'">
                    <aw-dropdown name="colorsSingle"
                                 (onSelection)="selection1 = $event"
                                 [list]="list" [noSelectionString]="'Select Color'">
                    </aw-dropdown>
                </aw-form-row>
            </aw-form-table>
        </div>

        <div class="ui-g-2">
            <b>{{selection1}}</b>
        </div>
    </div>


    <div class="ui-g-12">
        <div class="ui-g-2"><h4>with default selection using ngModel</h4></div>

        <div class="ui-g-6">
            <aw-form-table [labelsOnTop]="true">
                <aw-form-row [label]="'Colors 2'">
                    <aw-dropdown name="colorsSingle2"
                                 [(ngModel)]="selection2"
                                 [list]="list" [noSelectionString]="'Select Color'">
                    </aw-dropdown>
                </aw-form-row>
            </aw-form-table>
        </div>

        <div class="ui-g-2">
            <b>{{selection2}}</b>
        </div>
    </div>


    <div class="ui-g-12">
        <div class="ui-g-2"><h4>with default selection using selection binding</h4></div>

        <div class="ui-g-6">
            <aw-form-table [labelsOnTop]="true">
                <aw-form-row [label]="'Colors 3'">
                    <aw-dropdown name="colorsSingle3"
                                 [selection]="selection3"
                                 [list]="list" [noSelectionString]="'Select Color'">
                    </aw-dropdown>
                </aw-form-row>
            </aw-form-table>
        </div>

        <div class="ui-g-2">
            <b>{{selection3}}</b>
        </div>
    </div>


    <div class="ui-g-12">
        <div class="ui-g-2"><h4>with custom Template</h4></div>

        <div class="ui-g-6">
            <aw-form-table [labelsOnTop]="true">
                <aw-form-row [label]="'Colors 4'">
                    <aw-dropdown name="colorsSingle4"
                                 [selection]="selection4"
                                 [list]="list" [noSelectionString]="'Select Color'">


                        <ng-template #itemTemplate let-item>
                            My-Prefix - {{item.label}}
                        </ng-template>


                    </aw-dropdown>
                </aw-form-row>
            </aw-form-table>
        </div>

        <div class="ui-g-2">
            <b>{{selection4}}</b>
        </div>
    </div>


    <div class="ui-g-12">
        <div class="ui-g-2"><h4>Inside relative container</h4></div>

        <div class="ui-g-6">
            <div class="dd-relative-cc">
                <aw-form-table [labelsOnTop]="true">
                    <aw-form-row [label]="'Colors'">
                        <aw-dropdown name="colorsSingle"
                                     (onSelection)="selection1 = $event"
                                     [list]="list" [noSelectionString]="'Select Color'">
                        </aw-dropdown>
                    </aw-form-row>
                </aw-form-table>
            </div>
        </div>

        <div class="ui-g-2">
            <b>{{selection1}}</b>
        </div>
    </div>


</div>









