
<h3 class="first">Tree format mode for outline</h3>

<!-- save the reference #dt since we want to access outlinestate to ask if the item is expanded -->
<aw-datatable2 #dtTree *ngIf="true" [list]="dataTree" [loading]="loading"
               [outlineFormat]="'tree'"
               [selectionMode]="'cell'"
               [bodyClassFn]="calculatedClass"
               [isRowSelectable]="isRowSelectable"
               [pivotalLayout]="true"
               [showSubHeader]="true">

    <aw-dt-column2 key="title" label="" [styleClass]="'item-name-row-column'"
                   [useGlobalHeader]="false" [useGlobalSubHeader]="false" width="36%">
        <ng-template #body let-colum let-item="rowData">
            <aw-outline-control #outlineCtrl>
                <span
                    [innerHTML]="item.title | highlightText:dtTree.state.currentSearchQuery"></span>
            </aw-outline-control>
        </ng-template>
    </aw-dt-column2>

    <aw-dt-column2 key="qty" label="" width="32px" [styleClass]="'qty-row-column'"
                   [useGlobalHeader]="false" [useGlobalSubHeader]="false">

        <ng-template #body let-column let-rowData="rowData">
            <ng-template
                [ngIf]="dtTree.outlineState.isExpanded(rowData) || rowData.type === 'item'">
                <span
                    [innerHTML]="rowData.qty | highlightText:dtTree.state.currentSearchQuery"></span>
            </ng-template>
        </ng-template>

    </aw-dt-column2>

    <aw-dt-column2 label="AJ Parts" [selectable]="true"></aw-dt-column2>
    <aw-dt-column2 label="Blue Deck Solution" [selectable]="true"></aw-dt-column2>
    <aw-dt-column2 label="LRK Parts and server" [selectable]="true"></aw-dt-column2>

    <!-- Global templates for all columns, unless column defines its own body template -->
    <ng-template #dtBody let-column let-rowData="rowData">
        <ng-container *ngTemplateOutlet="dataTempl;
                    context: {$implicit: column, rowData: rowData, query:dtTree.state.currentSearchQuery}">
        </ng-container>
    </ng-template>

    <ng-template #dtHeader let-column let-rowData="rowData">
        <ng-container *ngTemplateOutlet="headerTempl;
                context: {$implicit: column, rowData: rowData, query:dtTree.state.currentSearchQuery}">
        </ng-container>
    </ng-template>

    <ng-template #dtSubHeader let-column let-rowData="rowData">
        <ng-container *ngTemplateOutlet="totalsTempl;
                context: {$implicit: '$17,170,100.00', eprice: '$17.180.250.00', column:column, query:dtTree.state.currentSearchQuery}">
        </ng-container>
    </ng-template>

    <ng-template #headerFilter let-column>
        <ng-container *ngTemplateOutlet="filterTempl">
        </ng-container>
    </ng-template>
</aw-datatable2>

<hr/>
<h1> With detail row with single </h1>
<hr/>
<!--[showSelectionColumn]="false"-->
<aw-datatable2 #dt2 *ngIf="true" [list]="data" [loading]="loading"
               [children]="children"
               [context]="this"
               [selectionMode]="'single'"
               [bodyClassFn]="calculatedClass"
               [showSelectAll]="false"
               [isRowSelectable]="isRowSelectable"
               [pivotalLayout]="true"
               (onRowSelectionChange)="onRowSelected($event)"
               [showSubHeader]="true">

    <aw-dt-column2 key="itemDescr" label="" [styleClass]="'item-name-row-column'"
                   [useGlobalHeader]="false" [useGlobalSubHeader]="false" width="36%">
        <ng-template #body let-colum let-item="rowData">
            <aw-outline-control #outlineCtrl [allowSelection]="false">
                {{item.itemDescr}}
            </aw-outline-control>
        </ng-template>
    </aw-dt-column2>

    <aw-dt-column2 key="qty" label="" width="32px" [styleClass]="'qty-row-column'"
                   [useGlobalHeader]="false" [useGlobalSubHeader]="false">

        <ng-template #body let-column let-rowData="rowData">
            <ng-template [ngIf]="dt2.outlineState.isExpanded(rowData) || rowData.type === 'item'">
                {{rowData.qty}}
            </ng-template>
        </ng-template>

    </aw-dt-column2>

    <aw-dt-column2 label="AJ Parts" [selectable]="true"></aw-dt-column2>
    <aw-dt-column2 label="Blue Deck Solution" [selectable]="true"></aw-dt-column2>
    <aw-dt-column2 label="LRK Parts and server" [selectable]="true"></aw-dt-column2>

    <aw-dt-detail-column [isVisibleFn]="canRenderForType">
        <ng-template #body let-colum let-item="rowData">
            <ng-container *ngTemplateOutlet="detailRow; context: {$implicit: item}">
            </ng-container>
        </ng-template>
    </aw-dt-detail-column>

    <!-- Global templates for all columns, unless column defines its own body template -->
    <ng-template #dtBody let-column let-rowData="rowData">
        <ng-container *ngTemplateOutlet="dataTempl;
                    context: {$implicit: column, rowData: rowData}">
        </ng-container>
    </ng-template>

    <ng-template #dtHeader let-column let-rowData="rowData">
        <ng-container *ngTemplateOutlet="headerTempl;
                context: {$implicit: column, rowData: rowData}">
        </ng-container>
    </ng-template>

    <ng-template #dtSubHeader let-column let-rowData="rowData">
        <ng-container *ngTemplateOutlet="totalsTempl;
                context: {$implicit: '$17,170,100.00', eprice: '$17.180.250.00', column:column}">
        </ng-container>
    </ng-template>

    <ng-template #headerFilter let-column>
        <ng-container *ngTemplateOutlet="filterTempl">
        </ng-container>
    </ng-template>
</aw-datatable2>




<hr/>
<h1> With allot of data </h1>
<hr/>
<!--[showSelectionColumn]="false"-->
<aw-datatable2 #dt2 *ngIf="true" [list]="dynData" [loading]="loading"
               [children]="children2"
               [context]="this"
               [height]="400"
               [displayRowSize]="2"
               [selectionMode]="'single'"
               [bodyClassFn]="calculatedClass"
               [showSelectAll]="false"
               [isRowSelectable]="isRowSelectable"
               [pivotalLayout]="true"
               (onRowSelectionChange)="onRowSelected($event)"
               [showSubHeader]="true">

    <aw-dt-column2 key="itemDescr" label="" [styleClass]="'item-name-row-column'"
                   [useGlobalHeader]="false" [useGlobalSubHeader]="false" width="36%">
        <ng-template #body let-colum let-item="rowData">
            <aw-outline-control #outlineCtrl [allowSelection]="false">
                {{item.itemDescr}}
            </aw-outline-control>
        </ng-template>
    </aw-dt-column2>

    <aw-dt-column2 key="qty" label="" width="32px" [styleClass]="'qty-row-column'"
                   [useGlobalHeader]="false" [useGlobalSubHeader]="false">

        <ng-template #body let-column let-rowData="rowData">
            <ng-template [ngIf]="dt2.outlineState.isExpanded(rowData) || rowData.type === 'item'">
                {{rowData.qty}}
            </ng-template>
        </ng-template>

    </aw-dt-column2>

    <aw-dt-column2 label="AJ Parts" [selectable]="true"></aw-dt-column2>
    <aw-dt-column2 label="Blue Deck Solution" [selectable]="true"></aw-dt-column2>
    <aw-dt-column2 label="LRK Parts and server" [selectable]="true"></aw-dt-column2>

    <aw-dt-detail-column [isVisibleFn]="canRenderForType">
        <ng-template #body let-colum let-item="rowData">
            <ng-container *ngTemplateOutlet="detailRow; context: {$implicit: item}">
            </ng-container>
        </ng-template>
    </aw-dt-detail-column>

    <!-- Global templates for all columns, unless column defines its own body template -->
    <ng-template #dtBody let-column let-rowData="rowData">
        <ng-container *ngTemplateOutlet="dataTempl;
                    context: {$implicit: column, rowData: rowData}">
        </ng-container>
    </ng-template>

    <ng-template #dtHeader let-column let-rowData="rowData">
        <ng-container *ngTemplateOutlet="headerTempl;
                context: {$implicit: column, rowData: rowData}">
        </ng-container>
    </ng-template>

    <ng-template #dtSubHeader let-column let-rowData="rowData">
        <ng-container *ngTemplateOutlet="totalsTempl;
                context: {$implicit: '$17,170,100.00', eprice: '$17.180.250.00', column:column}">
        </ng-container>
    </ng-template>

    <ng-template #headerFilter let-column>
        <ng-container *ngTemplateOutlet="filterTempl">
        </ng-container>
    </ng-template>
</aw-datatable2>

<hr/>
<h1> Plain detail row</h1>
<hr/>


<aw-datatable2 #dt3 *ngIf="true" [list]="data" [loading]="loading"
               [context]="this"
               [selectionMode]="'cell'"
               [bodyClassFn]="calculatedClass"
               [isRowSelectable]="isRowSelectable">

    <aw-dt-column2 key="itemDescr" label="Name" width="70%">
        <ng-template #body let-colum let-item="rowData">
            {{item.itemDescr}}
        </ng-template>
    </aw-dt-column2>

    <aw-dt-column2 key="type" label="" [label]="'Type'">

        <ng-template #body let-column let-rowData="rowData">
            {{rowData.type}}
        </ng-template>
    </aw-dt-column2>


    <aw-dt-detail-column [showRowLine]="false">
        <ng-template #body let-colum let-item="rowData">
            {{item.type}}
        </ng-template>
    </aw-dt-detail-column>

</aw-datatable2>


<hr/>
<h1> Plain with multi selection </h1>
<hr/>
<aw-datatable2 #dt4 *ngIf="true" [list]="data" [loading]="loading"
               [context]="this"
               [initialSortKey]="'itemDescr'"
               [showSelectionColumn]="true"
               [selectionMode]="'multi'"
               [bodyClassFn]="calculatedClass"
               [isRowSelectable]="isRowSelectable">

    <aw-dt-column2 key="itemDescr" label="Name" width="70%">
        <ng-template #body let-colum let-item="rowData">
            {{item.itemDescr}}
        </ng-template>
    </aw-dt-column2>

    <aw-dt-column2 key="type" label="" [label]="'Type'">

        <ng-template #body let-column let-rowData="rowData">
            {{rowData.type}}
        </ng-template>
    </aw-dt-column2>


    <aw-dt-detail-column [showRowLine]="false">
        <ng-template #body let-colum let-item="rowData">
            {{item.type}}
        </ng-template>
    </aw-dt-detail-column>
</aw-datatable2>


<hr/>
<h1> Plain with single select and supporting Row Drag & Drop</h1>
<p>Press Alt + CLICK to start dragging, then you can release ALT key to move and drop the row</p>
<aw-datatable2 #dt4 *ngIf="true" [loading]="loading"
               [context]="this"
               [dataSource]="dataSource"
               [showSelectionColumn]="true"
               [dndRowEnabled]="true"
               [selectionMode]="'single'"
               [bodyClassFn]="calculatedClass"
               (onRowSelectionChange)="onRowSelected($event)"
               [isRowSelectable]="isRowSelectable">

    <aw-dt-column2 key="itemDescr" label="Some Log Nam Label" maxWidth="500px" width="250px">
        <ng-template #body let-colum let-item="rowData">
            This is some extra text {{item.itemDescr}}
        </ng-template>
    </aw-dt-column2>

    <aw-dt-column2 key="type" label="" [label]="'Type'">

        <ng-template #body let-column let-rowData="rowData">
            {{rowData.type}}
        </ng-template>
    </aw-dt-column2>


    <aw-dt-detail-column [showRowLine]="false">
        <ng-template #body let-colum let-item="rowData">
            {{item.type}}
        </ng-template>
    </aw-dt-detail-column>
</aw-datatable2>


<hr/>
<h1> Plain with frozen columns </h1>
<hr/>
<aw-datatable2 #dt4 *ngIf="true" [loading]="loading"
               [context]="this"
               [dataSource]="dataSource"
               [showSelectionColumn]="true"
               [selectionMode]="'single'"
               [bodyClassFn]="calculatedClass"
               (onRowSelectionChange)="onRowSelected($event)"
               [isRowSelectable]="isRowSelectable">

    <aw-dt-column2 key="itemDescr" label="Name" width="300px" [frozen]="true" maxWidth="450px">
        <ng-template #body let-colum let-item="rowData">
            This is some extra text {{item.itemDescr}}
        </ng-template>
    </aw-dt-column2>

    <aw-dt-column2 key="type" [label]="'Type'" width="200px">
    </aw-dt-column2>

    <aw-dt-column2 [label]="'Quantity'" width="200px">
        <ng-template #body let-column let-rowData="rowData" let-rowIndex="rowIndex">
            {{rowIndex}}
        </ng-template>
    </aw-dt-column2>

    <aw-dt-column2 [label]="'Supplier'" width="200px">
        <ng-template #body let-column let-rowData="rowData" let-rowIndex="rowIndex">
            Supplier {{rowIndex}}
        </ng-template>
    </aw-dt-column2>

    <aw-dt-column2 [label]="'Item price'" width="200px">
        <ng-template #body let-column let-rowData="rowData" let-rowIndex="rowIndex">
            ${{rowIndex * 100}}
        </ng-template>
    </aw-dt-column2>


    <aw-dt-column2 [label]="'Some Other column '" width="200px">
        <ng-template #body let-column let-rowData="rowData" let-rowIndex="rowIndex">
            ${{rowIndex * 100}}
        </ng-template>
    </aw-dt-column2>


    <aw-dt-column2 [label]="'Some Other column 2'" width="300px">>
        <ng-template #body let-column let-rowData="rowData" let-rowIndex="rowIndex">
            ${{rowIndex * 100}}
        </ng-template>
    </aw-dt-column2>

</aw-datatable2>


<hr/>
<h1> Outline with frozen columns </h1>
<hr/>
<aw-datatable2 #dt *ngIf="true" [list]="data" [loading]="loading"
               [children]="children"
               [context]="this"
               [selectionMode]="'cell'"
               [scrollWidth]="'1000px'"
               [bodyClassFn]="calculatedClass"
               [isRowSelectable]="isRowSelectable"
               [pivotalLayout]="true"
               [showSubHeader]="true">

    <aw-dt-column2 key="itemDescr" label="" [styleClass]="'item-name-row-column'"
                   [frozen]="true"
                   maxWidth="38%"
                   [useGlobalHeader]="false" [useGlobalSubHeader]="false" width="400px">
        <ng-template #body let-colum let-item="rowData">
            <aw-outline-control #outlineCtrl>
                This is some long text that goes long long {{item.itemDescr}}
            </aw-outline-control>
        </ng-template>
    </aw-dt-column2>

    <aw-dt-column2 key="qty" label="" width="36px" [styleClass]="'qty-row-column'"
                   [frozen]="true"
                   [useGlobalHeader]="false" [useGlobalSubHeader]="false">

        <ng-template #body let-column let-rowData="rowData">
            <ng-template [ngIf]="dt.outlineState.isExpanded(rowData) || rowData.type === 'item'">
                {{rowData.qty}}
            </ng-template>
        </ng-template>

    </aw-dt-column2>

    <aw-dt-column2 label="AJ Parts" [selectable]="true"></aw-dt-column2>
    <aw-dt-column2 label="Blue Deck Solution" [selectable]="true"></aw-dt-column2>
    <aw-dt-column2 label="LRK Parts and server" [selectable]="true"></aw-dt-column2>

    <!-- Global templates for all columns, unless column defines its own body template -->
    <ng-template #dtBody let-column let-rowData="rowData">
        <ng-container *ngTemplateOutlet="dataTempl;
                    context: {$implicit: column, rowData: rowData}">
        </ng-container>
    </ng-template>

    <ng-template #dtHeader let-column let-rowData="rowData">
        <ng-container *ngTemplateOutlet="headerTempl;
                context: {$implicit: column, rowData: rowData}">
        </ng-container>
    </ng-template>

    <ng-template #dtSubHeader let-column let-rowData="rowData">
        <ng-container *ngTemplateOutlet="totalsTempl;
                context: {$implicit: '$17,170,100.00', eprice: '$17.180.250.00', column:column}">
        </ng-container>
    </ng-template>

    <ng-template #headerFilter let-column>
        <ng-container *ngTemplateOutlet="filterTempl">
        </ng-container>
    </ng-template>
</aw-datatable2>



<ng-template #headerTempl let-column let data="rowData" let-query="query">
    <div class="supplier-header">
        <div class="u-my-row">
            <div class="qualification">Preferred</div>
            <span class="award-menu sap-icon icon-slim-arrow-down"></span>
        </div>
        <div class="u-my-row">
                <span class="supplier-name">
                    <span [innerHTML]="column.label | highlightText:query"></span>
                </span>
        </div>
    </div>
</ng-template>

<ng-template #totalsTempl let-total let-eprice="eprice" let-column="column" let-query="query">
    <div class="total section-amount">{{total}}</div>
    <div class="est-price-label">Estimated Price</div>
    <div class="est-price">
        <span [innerHTML]="eprice | highlightText:query"></span>
    </div>
</ng-template>

<ng-template #dataTempl let-column let-rowData="rowData" let-query="query">

    <span [ngClass]="{'section-amount': rowData.type && rowData.type === 'section'}">
        <span [innerHTML]="rowData.valBySupplier[column.label] | highlightText:query"></span>
    </span>

</ng-template>

<ng-template #filterTempl>
    <div class="table-filter">
        <span class="label">Show</span>
        <span class="value">All suppliers (3)</span>
        <span class="icon sap-icon icon-slim-arrow-down"></span>
    </div>

</ng-template>

<ng-template #detailRow let-item>
    <aw-form-table [useFiveZone]="true" [labelsOnTop]="true">
        <aw-left>
            <aw-form-row [label]="'For Item'" [name]="'ForItem'">
                <aw-string [value]="item.itemDescr"></aw-string>
            </aw-form-row>

            <aw-form-row [label]="'For Hover test'" [name]="'hover'">
                <aw-hover-card [linkTitle]="'My Hover card'">
                    {{item.itemDescr}}
                </aw-hover-card>
            </aw-form-row>

        </aw-left>

        <aw-middle>
            <aw-form-row [label]="'Qty'" [name]="'Qty'">
                <aw-input-field [type]="'string'" [value]="item.qty"></aw-input-field>
            </aw-form-row>
        </aw-middle>

        <aw-right>
            <aw-form-row [label]="'Terms size'" [name]="'termssize'">
                {{item.terms.length}}
            </aw-form-row>

            <aw-form-row [label]="'Terms'" [name]="'terms'">
                <ul>
                    <li *ngFor="let term of item.terms">
                        {{ term.itemDescr }}
                    </li>
                </ul>
            </aw-form-row>
        </aw-right>
    </aw-form-table>
</ng-template>


<div style="height: 100px">

</div>
