html,
body {
  position: relative;
  height: 100%;
  overflow: hidden;
}

*, ::after, ::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: white;
  font-family: '72', sans-serif;
}


*:focus {
  outline: 0;
}
