<main class="fd-page">
  <header class="fd-page__header fd-has-background-color-background-2">
    <div fd-action-bar>
      <div fd-action-bar-back>
        <button aria-label="back" fd-button [fdType]="'light'" [compact]="true"
                (click)="onBack()"
                [glyph]="'nav-back'"></button>
      </div>
      <div fd-action-bar-header>
        <h3 fd-action-bar-title>Supplier details</h3>
        <div fd-action-bar-description>Read only object details. Click the Back button to go back
        </div>
      </div>
    </div>
  </header>
  <div class="fd-page__content">
    <div class="row center-xs">
      <div class="col-xs-12 col-sm-11 col-md-9 col-lg-9">
        <fdp-form-group #fg [multiLayout]="true" [object]="supplier" [editable]="false">
          <!--
        Left side
          -->
          <fdp-form-field [id]="'name'" label="Title" zone="zLeft"
                          rank="10">
            <fdp-string [value]="supplier.name"></fdp-string>
          </fdp-form-field>

          <fdp-form-field [id]="'locationName'" zone="zLeft" rank="20">
            <fdp-string [value]="supplier.locationName"></fdp-string>
          </fdp-form-field>

          <fdp-form-field [id]="'contact'" zone="zLeft" rank="40">
            <fdp-string [value]="supplier.contact"></fdp-string>
          </fdp-form-field>

          <fdp-form-field [id]="'lines'" zone="zLeft" rank="50">
            <fdp-string [value]="supplier.lines"></fdp-string>
          </fdp-form-field>

          <fdp-form-field [id]="'city'" zone="zLeft" rank="60">
            <fdp-string [value]="supplier.city"></fdp-string>
          </fdp-form-field>

          <fdp-form-field [id]="'state'" zone="zLeft" rank="70">
            <fdp-string [value]="supplier.state"></fdp-string>
          </fdp-form-field>

          <fdp-form-field [id]="'postalCode'" zone="zBottom" rank="80">
            <fdp-string [value]="supplier.postalCode"></fdp-string>
          </fdp-form-field>

          <fdp-form-field [id]="'country'" zone="zBottom" rank="80">
            <fdp-string [value]="supplier.country"></fdp-string>
          </fdp-form-field>

          <fdp-form-field [id]="'phone'" zone="zBottom" rank="80">
            <fdp-string [value]="supplier.phone"></fdp-string>
          </fdp-form-field>

          <fdp-form-field [id]="'email'" zone="zBottom" rank="80">
            <fdp-string [value]="supplier.email"></fdp-string>
          </fdp-form-field>
        </fdp-form-group>
      </div>
    </div>
  </div>
</main>
