<main class="fd-page">
  <div class="fd-page__content ">
    <div class="row top-xs">
      <ng-container *ngTemplateOutlet="portlets">
      </ng-container>

      <ng-container *ngTemplateOutlet="actions">
      </ng-container>

    </div>
  </div>
</main>


<ng-template #portlet let-colClass let-rowClass="rowClass" let-type="type">
  <div [ngClass]="colClass">
    <div class="portlet box-row" [ngClass]="rowClass">

      <!--      <fd-panel>-->
      <!--        <fd-panel-header>-->
      <!--          <fd-panel-head>-->
      <!--            <h2 fd-panel-title>{{type}}</h2>-->
      <!--          </fd-panel-head>-->
      <!--          <fd-panel-actions>-->
      <!--            <span fd-identifier [size]="'s'" [transparent]="true" glyph="collapse"></span>-->
      <!--          </fd-panel-actions>-->
      <!--        </fd-panel-header>-->

      <!--        <fd-panel-body>-->

      <ng-template [ngIf]="type === 'news'">
        <fdp-portlet-news></fdp-portlet-news>
      </ng-template>

      <ng-template [ngIf]="type === 'myDocs'">
        <fdp-portlet-documents></fdp-portlet-documents>
      </ng-template>


      <ng-template [ngIf]="type === 'spend'">
        <fdp-portlet-spend></fdp-portlet-spend>
      </ng-template>


      <ng-template [ngIf]="type === 'commodity'">
        <fdp-portlet-commodity></fdp-portlet-commodity>
      </ng-template>
      <!--        </fd-panel-body>-->
      <!--      </fd-panel>-->
    </div>
  </div>
</ng-template>


<ng-template #portlets>
  <div class="col-xs-12, col-sm-12 col-md-12 col-lg-9">
    <div class="row">
      <ng-container
        *ngTemplateOutlet="portlet;context: {$implicit:'col-xs-12', rowClass:'news', type:'news' }">
      </ng-container>
    </div>

    <div class="row">
      <ng-container
        *ngTemplateOutlet="portlet;context: { $implicit:'col-xs-12 col-sm-6 col-md-4 col-md-4', rowClass:'portlet', type:'commodity'}">
      </ng-container>

      <ng-container
        *ngTemplateOutlet="portlet;context: { $implicit:'col-xs-12 col-sm-6 col-md-4 col-md-4', rowClass:'portlet', type:'myDocs'}">
      </ng-container>

      <ng-container
        *ngTemplateOutlet="portlet;context: { $implicit:'col-xs-12 col-sm-6 col-md-4 col-md-4', rowClass:'portlet', type:'spend'}">
      </ng-container>

    </div>
  </div>
</ng-template>


<ng-template #actions>
  <div *ngIf="showActionPanel" class="right-actions col-xs-4 col-sm-4 col-md-3 col-lg-3">
    <div class="box">
      <fdp-select placeholder="Quick Links" [list]="['Ad Hoc Request', 'Create Invoice']"
                  (selection)="quickLinks($event)">
      </fdp-select>
    </div>

    <div class="box">
      <fd-panel>
        <fd-panel-header>
          <fd-panel-head>
            <h2 fd-panel-title>Create</h2>
          </fd-panel-head>
          <fd-panel-actions>
            <span fd-identifier [size]="'s'" [transparent]="true" glyph="collapse"></span>
          </fd-panel-actions>
        </fd-panel-header>

        <fd-panel-body>
          <ul fd-list class="create-actions">
            <li fd-list-item routerLink="/demo" (click)="onCreate('PR')">
              <fd-icon [size]="'m'" glyph="sales-order-item"></fd-icon>
              <span>Order</span>
            </li>
            <li fd-list-item [routerLink]="['/demo/invoice/create']">
              <fd-icon [size]="'m'" glyph="money-bills"></fd-icon>
              <span>Invoice</span>
            </li>
            <li fd-list-item (click)="onCreate('RCP')">
              <fd-icon [size]="'m'" glyph="customer-order-entry"></fd-icon>
              <span>Receipt</span>
            </li>
          </ul>


        </fd-panel-body>
      </fd-panel>
    </div>
  </div>
</ng-template>


<div *ngIf="false" class="fd-layout-grid  fd-layout-grid--col-3">
  <div class="fd-layout-grid__span-column-3">
    <fd-panel>
      <fd-panel-header>
        <fd-panel-head>
          <h2 fd-panel-title>News</h2>
        </fd-panel-head>
        <fd-panel-actions>
          <span fd-identifier [size]="'s'" [transparent]="true" glyph="collapse"></span>
        </fd-panel-actions>
      </fd-panel-header>

      <fd-panel-body>
        <p>
          SAP Ariba Integrates with Givewith Platform, Enabling Buyers and Suppliers to Drive
          Social Impact Through B2B Transactions.
        </p>
        <p>
          <a
            href="https://www.sdcexec.com/sustainability/news/21103665/sap-ariba-integrates-with-givewith-platform-enabling-buyers-and-suppliers-to-drive-social-impact-through-b2b-transactions">
            To read more
          </a>
        </p>
      </fd-panel-body>
    </fd-panel>
  </div>


  <fd-panel class="portlet">
    <fd-panel-header>
      <fd-panel-head>
        <h2 fd-panel-title>Documents</h2>
      </fd-panel-head>
      <fd-panel-actions>
              <span fd-identifier [size]="'s'" [transparent]="true" glyph="collapse"
              ></span>
      </fd-panel-actions>
    </fd-panel-header>

    <fd-panel-body>
      <p>
        SAP Ariba Integrates with Givewith Platform, Enabling Buyers and Suppliers to Drive
        Social Impact Through B2B Transactions.
      </p>
      <p>
        <a
          href="https://www.sdcexec.com/sustainability/news/21103665/sap-ariba-integrates-with-givewith-platform-enabling-buyers-and-suppliers-to-drive-social-impact-through-b2b-transactions">
          To read more
        </a>
      </p>
    </fd-panel-body>
  </fd-panel>

  <fd-panel class="portlet">
    <fd-panel-header>
      <fd-panel-head>
        <h2 fd-panel-title>News</h2>
      </fd-panel-head>
      <fd-panel-actions>
              <span fd-identifier [size]="'s'" [transparent]="true" glyph="collapse"
              ></span>
      </fd-panel-actions>
    </fd-panel-header>

    <fd-panel-body>
      <p>
        SAP Ariba Integrates with Givewith Platform, Enabling Buyers and Suppliers to Drive
        Social Impact Through B2B Transactions.
      </p>
      <p>
        <a
          href="https://www.sdcexec.com/sustainability/news/21103665/sap-ariba-integrates-with-givewith-platform-enabling-buyers-and-suppliers-to-drive-social-impact-through-b2b-transactions">
          To read more
        </a>
      </p>
    </fd-panel-body>
  </fd-panel>
</div>
