<div class="back-link">
    <aw-hyperlink routerLink="/play/"><< Back to DEMOs</aw-hyperlink>
</div>


<div class="ui-g">

    <!-- Title -->
    <div class="ui-g-12">
        <h3>Hover Card</h3>
    </div>

    <div class="ui-g-12">
        <div class="ui-g-2"><h4>Default hover</h4></div>

        <div class="ui-g-10">

            <aw-hover-card [linkTitle]="'January'">
                <span> Some text  Some text  Some text </span><br/>
                <span> Some text </span><br/>
                <span> Some text </span><br/>
                <span> Some text </span><br/>
                <span> Some text </span><br/>
                <span> Some text </span><br/>
                <span> Some text </span><br/>
                <span> Some text </span><br/>
                <span> Some text </span><br/>
            </aw-hover-card>

        </div>
    </div>


    <div class="ui-g-12">
        <div class="ui-g-2"><h4>More hovercards to test different positioning</h4></div>

        <div class="ui-g-3">
            <aw-hover-card [linkTitle]="'February'">
                <span> Some text  Some text  Some text </span><br/>
                <span> Some text </span><br/>
                <span> Some text </span><br/>
                <span> Some text </span><br/>
                <span> Some text </span><br/>
                <span> Some text </span><br/>
                <span> Some text </span><br/>
                <span> Some text </span><br/>
                <span> Some text </span><br/>
            </aw-hover-card>
        </div>
        <div class="ui-g-3">
            <aw-hover-card [linkTitle]="'Hover cards'">
                <span> Some text  Some text  Some text </span><br/>
                <span> Some text </span><br/>
                <span> Some text </span><br/>
                <span> Some text </span><br/>
                <span> Some text </span><br/>
                <span> Some text </span><br/>
                <span> Some text </span><br/>
                <span> Some text </span><br/>
                <span> Some text </span><br/>
            </aw-hover-card>
        </div>
        <div class="ui-g-3">
            <aw-hover-card [linkTitle]="'Summer'">
                <span> Some text  Some text  Some text </span><br/>
                <span> Some text </span><br/>
                <span> Some text </span><br/>
                <span> Some text </span><br/>
                <span> Some text </span><br/>
                <span> Some text </span><br/>
                <span> Some text </span><br/>
                <span> Some text </span><br/>
                <span> Some text </span><br/>
            </aw-hover-card>
        </div>
        <div class="ui-g-3" style="float: right; text-align: right">
            <aw-hover-card [linkTitle]="'Alignment'">
                <span> Some text  Some text  Some text </span><br/>
                <span> Some text </span><br/>
                <span> Some text </span><br/>
                <span> Some text </span><br/>
                <span> Some text </span><br/>
                <span> Some text </span><br/>
                <span> Some text </span><br/>
                <span> Some text </span><br/>
                <span> Some text </span><br/>
            </aw-hover-card>
        </div>
    </div>


    <div class="ui-g-12">
        <div class="ui-g-2">
            <aw-hover-card [linkTitle]="'A'">
                <span> Some text  Some text  Some text </span><br/>
                <span> Some text </span><br/>
                <span> Some text </span><br/>
                <span> Some text </span><br/>
                <span> Some text </span><br/>
                <span> Some text </span><br/>
                <span> Some text </span><br/>
                <span> Some text </span><br/>
                <span> Some text </span><br/>

            </aw-hover-card>
        </div>

        <div class="ui-g-10">
        </div>
    </div>


    <div class="ui-g-12">
        <div class="ui-g-2"><h4>No force to close</h4></div>

        <div class="ui-g-10">

            <aw-hover-card [linkTitle]="'Single Link 1'" [forceClose]="false">
                <span> Some text  Some text  Some text </span><br/>
                <span> Some text </span><br/>
                <span> Some text </span><br/>
                <span> Some text </span><br/>
                <span> Some text </span><br/>
                <span> Some text </span><br/>
                <span> Some text </span><br/>
                <span> Some text </span><br/>
                <span> Some text </span><br/>

            </aw-hover-card>


        </div>
    </div>


</div>



