<div class="back-link">
    <aw-hyperlink routerLink="/play/"><< Back to DEMOs</aw-hyperlink>
</div>


<div class="ui-g">

    <!-- page header -->
    <div class="ui-g-12 page-header">
        <h3>Page Notification</h3>
    </div>

    <!-- Field Type -->
    <div class="ui-g-12">
        <div class="ui-g-2"><h4>Success</h4></div>

        <div class="ui-g-10">
            <aw-page-notification [notification]="successNotification"></aw-page-notification>
        </div>
    </div>

    <div class="ui-g-12">
        <div class="ui-g-2"><h4>Information</h4></div>

        <div class="ui-g-10">
            <aw-page-notification [notification]="infoNotification">Submit</aw-page-notification>
        </div>
    </div>

    <div class="ui-g-12">
        <div class="ui-g-2"><h4>Warning</h4></div>

        <div class="ui-g-10">
            <aw-page-notification [notification]="warnNotification">Submit</aw-page-notification>
        </div>
    </div>

    <div class="ui-g-12">
        <div class="ui-g-2"><h4>Error</h4></div>

        <div class="ui-g-10">
            <aw-page-notification [notification]="errorNotification">Submit</aw-page-notification>
        </div>
    </div>

</div>









