<div class="back-link">
    <aw-hyperlink routerLink="/play/"><< Back to DEMOs</aw-hyperlink>
</div>


<div class="ui-g">

    <!-- Title -->
    <div class="ui-g-12">
        <h3>Input Fields</h3>
    </div>

    <!-- Fields  -->
    <div class="ui-g-12">
        <div class="ui-g-2"><h4>Inputs Single column</h4></div>

        <div class="ui-g-10">
            <aw-form-table [useFiveZone]="false" [labelsOnTop]="true">
                <aw-form-row [label]="'Company Name'" [name]="'companyName'">
                    <aw-input-field [type]="'string'"></aw-input-field>
                </aw-form-row>
            </aw-form-table>
        </div>
    </div>

    <!-- Fields  -->
    <div class="ui-g-12">
        <div class="ui-g-2"><h4>Inputs Number with Precision</h4></div>

        <div class="ui-g-10">
            <aw-form-table [useFiveZone]="false" [labelsOnTop]="true">
                <aw-form-row [label]="'Company Name'" [name]="'companyName'">
                    <aw-input-field [precision]="4" [bigDecimal]="numberTest" [(ngModel)]="numberTest" [type]="'number'"></aw-input-field>
                </aw-form-row>
            </aw-form-table>
        </div>
    </div>

    <div class="ui-g-12">
        <div class="ui-g-2"><h4>Inputs two column</h4></div>

        <div class="ui-g-10">
            <aw-form-table [useFiveZone]="true" [labelsOnTop]="true">
                <aw-left>
                    <aw-form-row [label]="'First Name'" [name]="'firstName'">
                        <aw-input-field [type]="'string'"></aw-input-field>
                    </aw-form-row>
                </aw-left>

                <aw-right>
                    <aw-form-row [label]="'Last Name'" [name]="'lastName'">
                        <aw-input-field [type]="'string'"></aw-input-field>
                    </aw-form-row>
                </aw-right>
            </aw-form-table>
        </div>
    </div>

    <div class="ui-g-12">
        <div class="ui-g-2"><h4>Readonly</h4></div>

        <div class="ui-g-10">
            <aw-form-table [editable]="false" [useFiveZone]="true" [labelsOnTop]="true">
                <aw-left>
                    <aw-form-row [label]="'First Name'" [name]="'firstName'">
                        <aw-input-field [type]="'string'" value="George"></aw-input-field>
                    </aw-form-row>
                </aw-left>

                <aw-right>
                    <aw-form-row [label]="'Last Name'" [name]="'lastName'">
                        <aw-input-field [editable]="false" [type]="'string'"
                                        value="Washington"></aw-input-field>
                    </aw-form-row>
                </aw-right>
            </aw-form-table>
        </div>
    </div>

</div>
