.page-notification {
  margin: 0px 0px 5px 0;
}

.notification-success,
.notification-info,
.notification-warning,
.notification-error {
  padding: 9px 8px;

  i {
    font-size: 24px;
    margin: 10px;
  }
}

.notification-success i {
  color: #58b957;
}

.notification-info i {
  color: #199de0;
}

.notification-warning i {
  color: #ff9900;
}

.notification-error i {
  color: #cc0000;
}

.notification-success {
  background-color: #f1f9f1;
  border: solid 1px rgba(88, 185, 87, 0.5);
}

.notification-info {
  background-color: #edf8fd;
  border: solid 1px rgba(25, 157, 224, 0.5);
}

.notification-warning {
  background-color: #fff8dd;
  border: solid 1px rgba(255, 153, 0, 0.5);
}

.notification-error {
  background-color: #FFebeb;
  border: solid 1px rgba(204, 0, 0, 0.5);
}

/** overriding the sap-icon which itself is overriding ariba-icon */
.icon-error:before {
  content: "\EA9D";
}

.icon-warning:before {
  content: "\EA9C";
}

/** end overriding**/

.content {
  vertical-align: super;
}

.title {
  font-weight: bold;
  margin-right: 10px;
}

.description {

}
